node-red.json
[{"id":"853e809978d5cadf","type":"tab","label":"ui","disabled":false,"info":"","env":[]},{"id":"0ac681198b7d2c5a","type":"tab","label":"Voice Recognition (22/6)","disabled":false,"info":"","env":[]},{"id":"f566569567242907","type":"tab","label":"database connection","disabled":false,"info":"","env":[]},{"id":"c97fb43abe55a014","type":"tab","label":"test","disabled":true,"info":"","env":[]},{"id":"fa164ae23c80c2ea","type":"tab","label":"test2","disabled":true,"info":"","env":[]},{"id":"4e3ffeddd7105d95","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"47ae97e19e8d6585","type":"cloudantplus","host":"https://apikey-v2-1ritncnrs4pymnplimso3sfjvmd6kejiyyabb2fxazdz:cd25a35777fcae3ae331d13bdc423f7f@2bdf6bdf-80f2-4860-b382-a6bcd95dedc1-bluemix.cloudantnosqldb.appdomain.cloud","name":"node-red-iytlw-2022--cloudant-1651406584789","useapikey":false},{"id":"f506ebc3962b9027","type":"ui_group","name":"group3","tab":"79ce1f06cc523993","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"810718aa5a6e4eeb","type":"ui_group","name":"group1","tab":"79ce1f06cc523993","order":1,"disp":true,"width":12,"collapse":false},{"id":"79ce1f06cc523993","type":"ui_tab","name":"Home","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"8c86c82829f543d4","type":"ui_group","name":"group2","tab":"79ce1f06cc523993","order":2,"disp":true,"width":"6","collapse":false},{"id":"5933a5e068944d06","type":"ui_group","name":"chat/voice","tab":"79ce1f06cc523993","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"679316866d83559b","type":"ui_group","name":"Group 1","tab":"e095e7cf227de2b4","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"59ba675c667d9153","type":"ui_group","name":"test","tab":"8c72eb66a6583a76","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"843f3bb093676525","type":"ui_group","name":"login","tab":"81572a212af234c0","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e095e7cf227de2b4","type":"ui_tab","name":"custom plants","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"e4611379e19d197b","type":"ui_group","name":"test","tab":"79ce1f06cc523993","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8c72eb66a6583a76","type":"ui_tab","name":"test","icon":"textsms","order":6,"disabled":false,"hidden":false},{"id":"9e908033822171bf","type":"ui_tab","name":"login","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"ae50fa37204d0b19","type":"ui_group","name":"Farm Status","tab":"7a9c0b77ce7525dc","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cc281fd4029593f5","type":"ui_group","name":"","tab":"4c2b46d96cf705f9","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"03fc659d3fb20cef","type":"ui_group","name":"Custom plant creation","tab":"7a9c0b77ce7525dc","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1a13210984636f3c","type":"ui_group","name":"Group 1","tab":"c9245e093f966bb2","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1c4b3d89a27b0923","type":"ui_group","name":"","tab":"4db604b1107d4edf","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"f9973e54662cabc3","type":"ui_group","name":"Home","tab":"81572a212af234c0","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bba4a605a0bbeddb","type":"ui_group","name":"Custom types","tab":"fc02f96195110949","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7a9c0b77ce7525dc","type":"ui_tab","name":"Home","icon":"assessment","order":7,"disabled":false,"hidden":false},{"id":"4c2b46d96cf705f9","type":"ui_tab","name":"Assistant","icon":"chat","order":9,"disabled":false,"hidden":false},{"id":"c9245e093f966bb2","type":"ui_tab","name":"custom plants","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"4db604b1107d4edf","type":"ui_tab","name":"Notifications","icon":"notifications","order":10,"disabled":false,"hidden":false},{"id":"81572a212af234c0","type":"ui_tab","name":"login","icon":"","order":2,"disabled":false,"hidden":true},{"id":"fc02f96195110949","type":"ui_tab","name":"Custom","icon":"grid_on","order":11,"disabled":false,"hidden":false},{"id":"ed0537b4a3a7a41c","type":"chat","name":"yes","nick":"hui"},{"id":"9638a658.2648b8","type":"ui_group","name":"Group 1","tab":"c1dae2ef.c3a59","order":1,"disp":false,"width":"9","collapse":false},{"id":"c1dae2ef.c3a59","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"4d9cbc3acacf02c2","type":"ui_tab","name":"Settings","icon":"settings","order":13,"disabled":false,"hidden":false},{"id":"60d248c1e4275780","type":"ui_tab","name":"Help","icon":"help","order":12,"disabled":false,"hidden":false},{"id":"fe131b557016dc94","type":"ui_group","name":"Settings","tab":"4d9cbc3acacf02c2","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b74dddbf9bd966f5","type":"ui_group","name":"Create support ticket","tab":"60d248c1e4275780","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1bdd63f2.633acc","type":"ui_group","name":"Grafer","tab":"1cbf6c09.5ae5d4","order":1,"disp":true,"width":"32","collapse":false},{"id":"1cbf6c09.5ae5d4","type":"ui_tab","name":"Statistikk/Log","icon":"dashboard","order":1},{"id":"53cf504.e9555b","type":"ui_group","name":"test","tab":"52aaa596.768b7c","order":1,"disp":true,"width":"12"},{"id":"52aaa596.768b7c","type":"ui_tab","name":"Test","icon":"dashboard"},{"id":"1e1cb426.2b813c","type":"ui_group","name":"test2","tab":"da91e2e4.019118","order":2,"disp":true,"width":"6","collapse":false},{"id":"703824db.9d74a4","type":"ui_group","name":"test1","tab":"da91e2e4.019118","order":1,"disp":true,"width":"6","collapse":false},{"id":"de11ea61.6a0aa8","type":"ui_group","name":"test3","tab":"da91e2e4.019118","order":3,"disp":true,"width":"6","collapse":false},{"id":"498f5259.7867b4","type":"ui_group","name":"test4","tab":"da91e2e4.019118","order":4,"disp":true,"width":"8","collapse":false},{"id":"da91e2e4.019118","type":"ui_tab","name":"test","icon":"dashboard","disabled":false,"hidden":false},{"id":"a1876e295c98a031","type":"ui_tab","name":"test1","icon":"dashboard","disabled":false,"hidden":false},{"id":"dae9c5c97f892f26","type":"ui_group","name":"test1","tab":"9e908033822171bf","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d69644e483ba8f56","type":"ui_group","name":"test2","tab":"9e908033822171bf","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"0c8c159604e765f6","type":"ui_group","name":"Login","tab":"9e908033822171bf","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7543e16529266007","type":"ui_group","name":"group3","tab":"7a9c0b77ce7525dc","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"36d04579050a0cbe","type":"ui_group","name":"Chat","tab":"4c2b46d96cf705f9","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"13c4d3fca5acbaf0","type":"ui_group","name":"Custom plant creation","tab":"fc02f96195110949","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4703d872ead9efcd","type":"ui_group","name":"Home","tab":"9e736eb42e380d98","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9e736eb42e380d98","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2eeb2bbd381de5a1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"46e804109b6e5ca2","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"2631419205919796","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"20f32645cd5c6e7b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"b8095e3ebe37cf6c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"8fb864439906e2c6","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"e9343c631e4b6566","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"2848245875089a10","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":10,"width":6,"height":1},{"id":"9ecc027a464028a2","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":11,"width":6,"height":1},{"id":"add5c3c4bd7da744","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"774bedf40a02f998","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":13,"width":6,"height":1},{"id":"0c16f58ae942dc77","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":14,"width":6,"height":1},{"id":"c0eb6bbbdfc567fe","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":15,"width":6,"height":1},{"id":"63258c2f664d9920","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":16,"width":6,"height":1},{"id":"be8071ab198d9412","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":17,"width":6,"height":1},{"id":"4d014b8528729b60","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":18,"width":6,"height":1},{"id":"3dd12b4c116427e8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"b60314d80f727fa3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":20,"width":6,"height":1},{"id":"9c7b9060fbe83701","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":21,"width":6,"height":1},{"id":"db6c544be623dc91","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":22,"width":6,"height":1},{"id":"3fd6e1051b87a1a6","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":23,"width":6,"height":1},{"id":"a2fe4d6e46fb22a0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":24,"width":6,"height":1},{"id":"339310f0b9eda60b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":25,"width":6,"height":1},{"id":"d22671de3e2f5bdd","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":26,"width":6,"height":1},{"id":"dbdd2b5d09fb9170","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":27,"width":6,"height":1},{"id":"5d4c12fcb7b04107","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":28,"width":6,"height":1},{"id":"da63df6ef8fb2ba5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":29,"width":6,"height":1},{"id":"11f7be5fe3fedcba","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":30,"width":6,"height":1},{"id":"c694763078b36205","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":31,"width":6,"height":1},{"id":"9d95603bd1a470f6","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":32,"width":6,"height":1},{"id":"810cc4f80aa541a5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":33,"width":6,"height":1},{"id":"9a156491e7be1180","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":34,"width":6,"height":1},{"id":"217ee7d71275c656","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":35,"width":6,"height":1},{"id":"a511ce185965a79c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":36,"width":6,"height":1},{"id":"a3a5865ed0c14d1f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":37,"width":6,"height":1},{"id":"675fbf9f6cde2f50","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":38,"width":6,"height":1},{"id":"3164f6595621261b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":39,"width":6,"height":1},{"id":"a944ebf7554b15db","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":40,"width":6,"height":1},{"id":"4aa6bff6aef3e89f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":41,"width":6,"height":1},{"id":"486d86fbbcf13b79","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":42,"width":6,"height":1},{"id":"ebcd277f3ba1352c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":43,"width":6,"height":1},{"id":"bf5ee1c6eff39d02","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":44,"width":6,"height":1},{"id":"208938ee70e6c3dd","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":45,"width":6,"height":1},{"id":"e935ae530cf7edb1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":46,"width":6,"height":1},{"id":"2a2a76ae791c2bc3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":47,"width":6,"height":1},{"id":"074eb918bc553b30","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":48,"width":6,"height":1},{"id":"c0538da780cde908","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":49,"width":6,"height":1},{"id":"f0a6ba9063fa56d2","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":50,"width":6,"height":1},{"id":"fa903e59161a1c6a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":51,"width":6,"height":1},{"id":"6fa87f81a73e8ad7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":52,"width":6,"height":1},{"id":"506b268afbf78674","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":53,"width":6,"height":1},{"id":"9cc124eb02c6ca6c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":54,"width":6,"height":1},{"id":"43cfd84c5b15e682","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":55,"width":6,"height":1},{"id":"59258844f4dce904","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":56,"width":6,"height":1},{"id":"1cbf382b2cc71010","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":57,"width":6,"height":1},{"id":"41bfe830493029d1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":58,"width":6,"height":1},{"id":"ef490c91357e2269","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":59,"width":6,"height":1},{"id":"22e32e213fb84041","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":60,"width":6,"height":1},{"id":"1a767c5c3394e182","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":61,"width":6,"height":1},{"id":"887c8fda5c27c191","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":62,"width":6,"height":1},{"id":"1c18037292ede477","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":63,"width":6,"height":1},{"id":"6357e3f124becf26","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":64,"width":6,"height":1},{"id":"0fd2a80c98814449","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":65,"width":6,"height":1},{"id":"813b4d415f4f2f8b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":66,"width":6,"height":1},{"id":"cdf2e06cd474429e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"78de51428150e81d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"4b5ad1cc3f42d0f9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"ad744e901ff928d0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"3c07ed9168a37c57","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"4cb706f625625fc4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"51f3419c9c5d3f66","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"a0da6f6a825e0899","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"e2beb110380e0ce9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"99b5270929717116","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":10,"width":6,"height":1},{"id":"fd36258e2e7f0475","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":11,"width":6,"height":1},{"id":"5d10afec89a7ddf9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"916866025650f9f2","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":13,"width":6,"height":1},{"id":"aa887e111ddf4e32","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":14,"width":6,"height":1},{"id":"6c1844c4c6181bac","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":15,"width":6,"height":1},{"id":"f8f3bd0783fe9f64","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":16,"width":6,"height":1},{"id":"adcc9821b0c44f70","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"1f62d9c4aa57a9a0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":20,"width":6,"height":1},{"id":"4d2881893d2cc2df","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":21,"width":6,"height":1},{"id":"d4daf691053fbac7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":22,"width":6,"height":1},{"id":"62e770b4186f9514","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":23,"width":6,"height":1},{"id":"e70372eb1e650f8f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":24,"width":6,"height":1},{"id":"b83f5d1b5de6af36","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":25,"width":6,"height":1},{"id":"8c66950f318c330f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":26,"width":6,"height":1},{"id":"cf607049bcdb1dcc","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":27,"width":6,"height":1},{"id":"e56313d3d949d835","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":28,"width":6,"height":1},{"id":"aa0cde3a875ec124","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":29,"width":6,"height":1},{"id":"09ca4286f6c36a54","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":30,"width":6,"height":1},{"id":"5cfe4c4f99a44cdb","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":31,"width":6,"height":1},{"id":"8e24eea3a0c2e8de","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":32,"width":6,"height":1},{"id":"53ec82b8052a0e02","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":33,"width":6,"height":1},{"id":"3c0d02130b990e3f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":34,"width":6,"height":1},{"id":"014f44427b20083a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":35,"width":6,"height":1},{"id":"a6f25fc4e067269d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":36,"width":6,"height":1},{"id":"611f404c688ee558","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":37,"width":6,"height":1},{"id":"77d8c11fff61519a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":38,"width":6,"height":1},{"id":"f48485fe5ee1ba48","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":39,"width":6,"height":1},{"id":"7429b7d6fbc9b464","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":40,"width":6,"height":1},{"id":"1d2bd6ef884fd66e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":41,"width":6,"height":1},{"id":"d9e65683a68af2a8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":42,"width":6,"height":1},{"id":"07aef96be84e9277","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":43,"width":6,"height":1},{"id":"5b1fdeded47fcfea","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":44,"width":6,"height":1},{"id":"df0b4774515d0c7a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":45,"width":6,"height":1},{"id":"772072909ff8d237","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":46,"width":6,"height":1},{"id":"30a8c7f8ff05cf89","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":47,"width":6,"height":1},{"id":"f99a5f115ee93f36","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":48,"width":6,"height":1},{"id":"f58ee735c94d2470","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":49,"width":6,"height":1},{"id":"809d5db1d6c2192b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":50,"width":6,"height":1},{"id":"959293a65f48ce1a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":51,"width":6,"height":1},{"id":"eb8eb11c504b7726","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":52,"width":6,"height":1},{"id":"32be498b3342995e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":53,"width":6,"height":1},{"id":"e0d266cb77a5100c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":54,"width":6,"height":1},{"id":"4da1b2ae3db0f1b7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":55,"width":6,"height":1},{"id":"419fd894970c4995","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":56,"width":6,"height":1},{"id":"8dc69b193fe40765","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":57,"width":6,"height":1},{"id":"312c59a2ac03b997","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":58,"width":6,"height":1},{"id":"3a8d503eacb7eae6","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":59,"width":6,"height":1},{"id":"0b0af55fb5e942fe","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":60,"width":6,"height":1},{"id":"3f88d2ce87cf78c5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":61,"width":6,"height":1},{"id":"1d12ab28979e8ffb","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":62,"width":6,"height":1},{"id":"0e793f5d3b767ca6","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":63,"width":6,"height":1},{"id":"b56f93b7c36838f7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":64,"width":6,"height":1},{"id":"b3e021f48eb2e669","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":65,"width":6,"height":1},{"id":"a7f7e962b1637d67","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":66,"width":6,"height":1},{"id":"3dee8cc8a1e28d98","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":67,"width":6,"height":1},{"id":"41f9cede6152d834","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":68,"width":6,"height":1},{"id":"58ce2b4e17ae5f35","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":69,"width":6,"height":1},{"id":"553b16eb321af509","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":70,"width":6,"height":1},{"id":"489926d09ae278ed","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":71,"width":6,"height":1},{"id":"618880e12ede6bb0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":72,"width":6,"height":1},{"id":"b496bf6c80a3068a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":73,"width":6,"height":1},{"id":"678f9117559d844f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":74,"width":6,"height":1},{"id":"861874e716fad27d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":75,"width":6,"height":1},{"id":"bbccf67fba736d4e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":76,"width":6,"height":1},{"id":"15521f72d6202548","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":77,"width":6,"height":1},{"id":"402be52a3dfb6f67","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":78,"width":6,"height":1},{"id":"559fce93cd6a65c6","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":79,"width":6,"height":1},{"id":"f80d2d401e4648a3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":80,"width":6,"height":1},{"id":"f9e7a07750fe1fec","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":81,"width":6,"height":1},{"id":"4c15e1f5448d092f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":82,"width":6,"height":1},{"id":"ed454849ca26067b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":84,"width":3,"height":1},{"id":"d86546800f925919","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":85,"width":3,"height":1},{"id":"cbcc70e6bf594d88","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"cb440852e686b6b3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"1ef7794f7f730250","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"64fc2699b9b85a79","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"236f1e3f37f14ccb","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"d3ede7db21a1b518","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"80a6a719790cdf2a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"f0290557ee61486c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":10,"width":6,"height":1},{"id":"532d46aec86f8290","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":11,"width":6,"height":1},{"id":"c99e1d25c46a3cd3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"f696aacb5333d63a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":13,"width":6,"height":1},{"id":"aad7a19f50f6e885","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":14,"width":6,"height":1},{"id":"83b76efa9742ccdd","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":15,"width":6,"height":1},{"id":"bcd20bdfdcb0ca3c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":16,"width":6,"height":1},{"id":"a64546a0fb16bec4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":17,"width":6,"height":1},{"id":"e11c9ef42adb5608","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":18,"width":6,"height":1},{"id":"e2acba39891d7ff6","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"39a0105c1481d826","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":20,"width":6,"height":1},{"id":"afc5f15f21719144","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":21,"width":6,"height":1},{"id":"5cdcb62725d82acb","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":22,"width":6,"height":1},{"id":"c0e20613edc8cac1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":23,"width":6,"height":1},{"id":"364aba326e52cb17","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":24,"width":6,"height":1},{"id":"65e748ed6fd1d1d8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":25,"width":6,"height":1},{"id":"b04acf4a23f929da","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":26,"width":6,"height":1},{"id":"87816d7af9f956fb","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":27,"width":6,"height":1},{"id":"0343e45f0d7f6efb","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":28,"width":6,"height":1},{"id":"3e156a2114e61c48","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":29,"width":6,"height":1},{"id":"c55b763dbb077903","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":30,"width":6,"height":1},{"id":"2d68c78c97a6c102","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":31,"width":6,"height":1},{"id":"7c8e48a90ccefccd","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":32,"width":6,"height":1},{"id":"f3258552a0cb4cdd","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":33,"width":6,"height":1},{"id":"40a20c8c0d60bf80","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":34,"width":6,"height":1},{"id":"9d7ffd4426e2abf3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":35,"width":6,"height":1},{"id":"548d38fdc77a5767","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":36,"width":6,"height":1},{"id":"f92be3e35bc38b57","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":37,"width":6,"height":1},{"id":"f5e45487aac498ab","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":38,"width":6,"height":1},{"id":"1425c1c017967d1a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":39,"width":6,"height":1},{"id":"b437c34c7ccd7089","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":40,"width":6,"height":1},{"id":"d11a92d13df59822","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":41,"width":6,"height":1},{"id":"79b35b89de09a218","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":42,"width":6,"height":1},{"id":"58de477986217bcf","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":43,"width":6,"height":1},{"id":"986e2d4f2377da03","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":44,"width":6,"height":1},{"id":"e3593d4e81f47e6e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":45,"width":6,"height":1},{"id":"40d201e3afe01d32","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":46,"width":6,"height":1},{"id":"1fb99b326a30be53","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":47,"width":6,"height":1},{"id":"b285060acc523a8e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":48,"width":6,"height":1},{"id":"2641d0fb8544f2a8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":49,"width":6,"height":1},{"id":"3643e456c6523d1d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":50,"width":6,"height":1},{"id":"e22a0d03658dfbde","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":51,"width":6,"height":1},{"id":"5482b4b9ae5fea02","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":52,"width":6,"height":1},{"id":"1c75da8f051754a8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":53,"width":6,"height":1},{"id":"68696a6f7b7265b4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":54,"width":6,"height":1},{"id":"6014af9a57e7a908","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":55,"width":6,"height":1},{"id":"63b6f8583d30404c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":56,"width":6,"height":1},{"id":"9a6a7e0aa0521a86","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":57,"width":6,"height":1},{"id":"cc3701d153277496","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":58,"width":6,"height":1},{"id":"7bc64437246ae8da","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":59,"width":6,"height":1},{"id":"b9aef05543fe9168","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":60,"width":6,"height":1},{"id":"b9ebfdc4aaa4e4d2","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":61,"width":6,"height":1},{"id":"4f43484b7b0d9196","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":62,"width":6,"height":1},{"id":"dfafe87a60966cff","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":63,"width":6,"height":1},{"id":"97cf88c3846312fb","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":64,"width":6,"height":1},{"id":"636329c72e90d0a0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":65,"width":6,"height":1},{"id":"8be423cdd6cd76c9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":66,"width":6,"height":1},{"id":"78cfc6cd11faf86a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"e7138d909063e4f7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"db82976c457bcb74","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"fda161ccdb7488cc","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"c08d20820b2291c9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"cecb2f826256dc82","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"11456ea431d82f6c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"31812f1aa539c4a4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"136365aced68f121","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"4c7df9c29195dcef","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":10,"width":6,"height":1},{"id":"53c66fe79582113d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":11,"width":6,"height":1},{"id":"adab285dd313cbb4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"8f1e0e7a2a4aca43","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":13,"width":6,"height":1},{"id":"10a4aa29aebf6d31","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":14,"width":6,"height":1},{"id":"22f6b8ced37ec63a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":15,"width":6,"height":1},{"id":"9cc11a3d285f918a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":16,"width":6,"height":1},{"id":"b5a738a3f7e8b299","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"9b7ddc508d3c5a9f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":20,"width":6,"height":1},{"id":"8061696002ae6678","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":21,"width":6,"height":1},{"id":"7f4da0bc8a08fb7a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":22,"width":6,"height":1},{"id":"d2eace7174a35f14","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":23,"width":6,"height":1},{"id":"4933364dd0ac4ba7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":24,"width":6,"height":1},{"id":"1e53b89cd6d04470","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":25,"width":6,"height":1},{"id":"08bcbd63b5757942","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":26,"width":6,"height":1},{"id":"494809785a3da225","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":27,"width":6,"height":1},{"id":"0c2ca39a8ebc5c3e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":28,"width":6,"height":1},{"id":"b69585369a12fb3b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":29,"width":6,"height":1},{"id":"2763087e68312147","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":30,"width":6,"height":1},{"id":"472795c2ec360918","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":31,"width":6,"height":1},{"id":"5d59db62ecbd84bc","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":32,"width":6,"height":1},{"id":"63f27247ac5251d6","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":33,"width":6,"height":1},{"id":"3abda30246e035d5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":34,"width":6,"height":1},{"id":"3908962fb6ad70c3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":35,"width":6,"height":1},{"id":"96696c328fbef62c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":36,"width":6,"height":1},{"id":"cddc3d5823b9bc4c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":37,"width":6,"height":1},{"id":"4b26a1c553928e42","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":38,"width":6,"height":1},{"id":"ed76da3c9facb763","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":39,"width":6,"height":1},{"id":"7ee4a994e841f0a4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":40,"width":6,"height":1},{"id":"e094abf062891e06","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":41,"width":6,"height":1},{"id":"702b1f2a05e09035","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":42,"width":6,"height":1},{"id":"66548c83edddd4c1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":43,"width":6,"height":1},{"id":"40270ede21c51406","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":44,"width":6,"height":1},{"id":"b5669539604cd794","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":45,"width":6,"height":1},{"id":"68d150d681da0b03","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":46,"width":6,"height":1},{"id":"4711acf9b16d78fb","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":47,"width":6,"height":1},{"id":"de6709466ea33356","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":48,"width":6,"height":1},{"id":"831ba44df332f0a1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":49,"width":6,"height":1},{"id":"7462b5005b03248d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":50,"width":6,"height":1},{"id":"e41446587740ac81","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":51,"width":6,"height":1},{"id":"4e130adbca4e9589","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":52,"width":6,"height":1},{"id":"33a8a9f8c1cb3aa7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":53,"width":6,"height":1},{"id":"8507e12a2dc1dee3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":54,"width":6,"height":1},{"id":"e70590746709b8b4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":55,"width":6,"height":1},{"id":"048c4f61f43f2584","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":56,"width":6,"height":1},{"id":"c8aca8d3696412b2","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":57,"width":6,"height":1},{"id":"cc565e41234026c0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":58,"width":6,"height":1},{"id":"14d0abd396fc1915","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":59,"width":6,"height":1},{"id":"62af29499709a62f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":60,"width":6,"height":1},{"id":"20bbbf3c23b95769","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":61,"width":6,"height":1},{"id":"75d72ac0e1a34539","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":62,"width":6,"height":1},{"id":"27d51b248cd5314d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":63,"width":6,"height":1},{"id":"7219ec39bced7e22","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":64,"width":6,"height":1},{"id":"4c1471bf39a258b0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":65,"width":6,"height":1},{"id":"07b801bafc688d6b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":66,"width":6,"height":1},{"id":"c3e8cfe3502e32bf","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":67,"width":6,"height":1},{"id":"4383521cf6a61210","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":68,"width":6,"height":1},{"id":"74d93fc540d8b664","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":69,"width":6,"height":1},{"id":"54f6add1055f8da9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":70,"width":6,"height":1},{"id":"be3288f42c206143","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":71,"width":6,"height":1},{"id":"6a10f89a70b4d3fd","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":72,"width":6,"height":1},{"id":"b4f3f2f376984a45","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":73,"width":6,"height":1},{"id":"132ddce08413cfeb","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":74,"width":6,"height":1},{"id":"dc9d77688fe9376f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":75,"width":6,"height":1},{"id":"651a9b4975dc35bc","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":76,"width":6,"height":1},{"id":"c18012f7808ab81d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":77,"width":6,"height":1},{"id":"06a5d7e7830ae021","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":78,"width":6,"height":1},{"id":"4688975eb431d380","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":79,"width":6,"height":1},{"id":"48e732513e45ee3c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":80,"width":6,"height":1},{"id":"57f38f58113af475","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":81,"width":6,"height":1},{"id":"aaa4656303f367f3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":82,"width":6,"height":1},{"id":"60392d3546336495","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":84,"width":3,"height":1},{"id":"2edfb7207489ca9a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":85,"width":3,"height":1},{"id":"a2f1221e7b478276","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"8da9e60c64ab81d1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"c2455badde52ed33","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"2bd8420602e3e23c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"e319147e32f22780","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"d92e35ca5135703b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"807786bd6650926a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"bf93ad3b16adeb13","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":10,"width":6,"height":1},{"id":"54609fca24fc1ffd","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":11,"width":6,"height":1},{"id":"5d4bc94a15d53e5f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"cc5404a22874f6cd","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":13,"width":6,"height":1},{"id":"4280bc622cd8430a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":14,"width":6,"height":1},{"id":"0bcf33eb26e65323","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":15,"width":6,"height":1},{"id":"9ec2e19989ebd363","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":16,"width":6,"height":1},{"id":"bc2692714a27b13e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":17,"width":6,"height":1},{"id":"da1c3c753af14401","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":18,"width":6,"height":1},{"id":"e5631d94e8af5891","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"086a0cb516146e29","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":20,"width":6,"height":1},{"id":"a4e0565291fb22e5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":21,"width":6,"height":1},{"id":"cbd3508f953066a1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":22,"width":6,"height":1},{"id":"d9645926f5f25417","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":23,"width":6,"height":1},{"id":"11a52e81428895d9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":24,"width":6,"height":1},{"id":"5b99d57238c2adf4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":25,"width":6,"height":1},{"id":"db84ccf3d2b7c936","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":26,"width":6,"height":1},{"id":"8b1d55c9fe0f3bef","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":27,"width":6,"height":1},{"id":"0eaf7977c6322617","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":28,"width":6,"height":1},{"id":"cec2364c43a0e232","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":29,"width":6,"height":1},{"id":"cc79c82cd408d24a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":30,"width":6,"height":1},{"id":"e842fd2f8cda38e0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":31,"width":6,"height":1},{"id":"845053b7f522a1ca","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":32,"width":6,"height":1},{"id":"938a2702f9f79ad9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":33,"width":6,"height":1},{"id":"8d878b352ec45195","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":34,"width":6,"height":1},{"id":"d1c09259d63d435f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":35,"width":6,"height":1},{"id":"ef75d879c222d9e4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":36,"width":6,"height":1},{"id":"d4707acda88fd536","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":37,"width":6,"height":1},{"id":"718a87f10c755ff3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":38,"width":6,"height":1},{"id":"1689cda44b810660","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":39,"width":6,"height":1},{"id":"14ac5ecb585c2222","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":40,"width":6,"height":1},{"id":"d36b21ebea038f25","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":41,"width":6,"height":1},{"id":"2fcab91232d045b8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":42,"width":6,"height":1},{"id":"6823d3a93ee2604d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":43,"width":6,"height":1},{"id":"f7f04ff3ca6b8adb","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":44,"width":6,"height":1},{"id":"fad38eacb75d294f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":45,"width":6,"height":1},{"id":"46de33488fed4e9a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":46,"width":6,"height":1},{"id":"c1ab268e558d31a5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":47,"width":6,"height":1},{"id":"edc8e2a7cfabef61","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":48,"width":6,"height":1},{"id":"01d7bcf8b03a8f22","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":49,"width":6,"height":1},{"id":"23538ab34d44cf41","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":50,"width":6,"height":1},{"id":"ccad100f648f3a7b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":51,"width":6,"height":1},{"id":"d8bd82b06379a62b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":52,"width":6,"height":1},{"id":"e8881109d91c9a3e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":53,"width":6,"height":1},{"id":"76457c0de0a81d26","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":54,"width":6,"height":1},{"id":"c23beb724f542692","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":55,"width":6,"height":1},{"id":"b130226a83b3a82f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":56,"width":6,"height":1},{"id":"4353dca4ff999496","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":57,"width":6,"height":1},{"id":"fed87b33a1990dc4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":58,"width":6,"height":1},{"id":"72d5ab0f196125e0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":59,"width":6,"height":1},{"id":"41b4d58415422850","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":60,"width":6,"height":1},{"id":"cc94dcec184d22ae","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":61,"width":6,"height":1},{"id":"95a3a4120989023d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":62,"width":6,"height":1},{"id":"346fa6b50bfc2247","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":63,"width":6,"height":1},{"id":"88aa4a31ae931717","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":64,"width":6,"height":1},{"id":"c34fcf6b82c3d15f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":65,"width":6,"height":1},{"id":"a664b47445d6879e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":66,"width":6,"height":1},{"id":"3cdb3f24c99b64c4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"fa03960321e2ae34","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"5ba4f986523474e3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"690eef14c9edf693","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"cbc24ec04fe56036","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"56fedf3b2540a666","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"edfdc021c500dfba","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"febb10f0cc0d1e79","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"f2a236ee09efe227","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"85255c9811b49ed9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":10,"width":6,"height":1},{"id":"06c2cd8abe55646f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":11,"width":6,"height":1},{"id":"a60dec2e09ad7e86","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"49547da2165b3c7a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":13,"width":6,"height":1},{"id":"fd1d335562b3d348","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":14,"width":6,"height":1},{"id":"cd53521823edc532","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":15,"width":6,"height":1},{"id":"d6f61832e22fb5d4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":16,"width":6,"height":1},{"id":"a9d4f507bd3eecb0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"2a0be7dd6870fd38","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":20,"width":6,"height":1},{"id":"ebff4888f7b2c8f1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":21,"width":6,"height":1},{"id":"89c9e27b4035c0a3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":22,"width":6,"height":1},{"id":"95fefce2bb03db8b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":23,"width":6,"height":1},{"id":"3dce653a7d6f0bfa","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":24,"width":6,"height":1},{"id":"66ed6d01b71466c4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":25,"width":6,"height":1},{"id":"f4e14973dedc19c8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":26,"width":6,"height":1},{"id":"5fd697dad5056f0e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":27,"width":6,"height":1},{"id":"6feec6e90901b523","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":28,"width":6,"height":1},{"id":"322be0aedcf7e35a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":29,"width":6,"height":1},{"id":"232be289b6ba4da3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":30,"width":6,"height":1},{"id":"de865f1a2b4ccec7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":31,"width":6,"height":1},{"id":"7b0c47fe692a51b5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":32,"width":6,"height":1},{"id":"c85df9b9a60dceab","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":33,"width":6,"height":1},{"id":"b67d7801cde46a82","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":34,"width":6,"height":1},{"id":"06b7e0fba7ef2011","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":35,"width":6,"height":1},{"id":"188c16a5d0b54d17","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":36,"width":6,"height":1},{"id":"49722a33725af4d1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":37,"width":6,"height":1},{"id":"607a5c39e808af84","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":38,"width":6,"height":1},{"id":"61364c12401cb9e1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":39,"width":6,"height":1},{"id":"538ae52eb0e94447","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":40,"width":6,"height":1},{"id":"9ce87d1360674e25","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":41,"width":6,"height":1},{"id":"a70dedd1ba955aae","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":42,"width":6,"height":1},{"id":"d07a84570d9a109f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":43,"width":6,"height":1},{"id":"b7831423e3465016","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":44,"width":6,"height":1},{"id":"e23df1cb1e7de90b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":45,"width":6,"height":1},{"id":"cc6278307e10352f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":46,"width":6,"height":1},{"id":"73cfb4e06009a04f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":47,"width":6,"height":1},{"id":"c6009b01843af3e6","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":48,"width":6,"height":1},{"id":"6fae2296fbbaae83","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":49,"width":6,"height":1},{"id":"12b4ae01177f0537","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":50,"width":6,"height":1},{"id":"cc0c19bb18cfadc7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":51,"width":6,"height":1},{"id":"a77cb72aaa8bbbcd","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":52,"width":6,"height":1},{"id":"e90f3adcf5593082","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":53,"width":6,"height":1},{"id":"03714481fa0a8740","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":54,"width":6,"height":1},{"id":"42ee8d2c9c4d9b4e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":55,"width":6,"height":1},{"id":"71bad20f128d5367","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":56,"width":6,"height":1},{"id":"22fe90a6fc6aa003","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":57,"width":6,"height":1},{"id":"e31398e7e58bed93","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":58,"width":6,"height":1},{"id":"f33b0c91e2b13dd9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":59,"width":6,"height":1},{"id":"4883967300310218","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":60,"width":6,"height":1},{"id":"da4e3632c3a7f6c5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":61,"width":6,"height":1},{"id":"128f1fc5b3b5bb54","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":62,"width":6,"height":1},{"id":"38a1e899b46d8956","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":63,"width":6,"height":1},{"id":"74e2622d6389d018","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":64,"width":6,"height":1},{"id":"d1832574520385df","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":65,"width":6,"height":1},{"id":"a846ca866c23cc05","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":66,"width":6,"height":1},{"id":"d22b46a37182aec5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":67,"width":6,"height":1},{"id":"176366dcf93a2888","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":68,"width":6,"height":1},{"id":"3ad5b53a30384b62","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":69,"width":6,"height":1},{"id":"b4c64d26e47a98a3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":70,"width":6,"height":1},{"id":"09f07687c4323fc0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":71,"width":6,"height":1},{"id":"165e5920b311fa4c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":72,"width":6,"height":1},{"id":"177b1a0628768902","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":73,"width":6,"height":1},{"id":"1a029c18eb344c5a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":74,"width":6,"height":1},{"id":"e5161106ffde42e8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":75,"width":6,"height":1},{"id":"e7af133b65cd31f1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":76,"width":6,"height":1},{"id":"1272ea93535270e7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":77,"width":6,"height":1},{"id":"53c7ce37e70e5987","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":78,"width":6,"height":1},{"id":"4c178d17faa407ee","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":79,"width":6,"height":1},{"id":"81623cd48278c640","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":80,"width":6,"height":1},{"id":"339a120a4eef3d67","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":81,"width":6,"height":1},{"id":"6ca2447737ce4c68","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":82,"width":6,"height":1},{"id":"900d64996885af98","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":84,"width":3,"height":1},{"id":"e0a1a205b27d358c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":85,"width":3,"height":1},{"id":"b05aa61d15461fc7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"b6cae05d0c8a0ac9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"6a394158d0d66c24","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"6d99849b16134fed","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"550b39c426886cbf","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"33b2a4c314f4f658","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"2cd66d1108c1c6f4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"f073853c7be96760","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":10,"width":6,"height":1},{"id":"6d90e21dd8b4e6db","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":11,"width":6,"height":1},{"id":"669b9a7b6e8bf1d9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"a0493d0172e1c58d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":13,"width":6,"height":1},{"id":"cf1ca9db05eba0de","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":14,"width":6,"height":1},{"id":"c01c2ec46df384b9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":15,"width":6,"height":1},{"id":"42e22926568caa26","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":16,"width":6,"height":1},{"id":"36dfcb957a5d0f20","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":17,"width":6,"height":1},{"id":"00e31616ad486da7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":18,"width":6,"height":1},{"id":"27431ed279cbed2b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"8c1562022b2f4270","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":20,"width":6,"height":1},{"id":"843ec5151a3a837a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":21,"width":6,"height":1},{"id":"3c85bcd1140d1e4e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":22,"width":6,"height":1},{"id":"55ac98dbea76631d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":23,"width":6,"height":1},{"id":"b467d50dbd9a55d5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":24,"width":6,"height":1},{"id":"9254a7029e081282","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":25,"width":6,"height":1},{"id":"871e89d1ce2ddae8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":26,"width":6,"height":1},{"id":"326f7e8fe0e10bea","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":27,"width":6,"height":1},{"id":"552afe6f1746087c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":28,"width":6,"height":1},{"id":"3042045c2fa5868c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":29,"width":6,"height":1},{"id":"1db62c90cd2514ca","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":30,"width":6,"height":1},{"id":"c3f85050b0a2d5e3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":31,"width":6,"height":1},{"id":"f50909fee5b5d233","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":32,"width":6,"height":1},{"id":"ac958e2a5ad47fd9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":33,"width":6,"height":1},{"id":"17a3847cc9d827cc","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":34,"width":6,"height":1},{"id":"a2ef36ddbb8c6a7b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":35,"width":6,"height":1},{"id":"496faa5c250ab6dc","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":36,"width":6,"height":1},{"id":"7cac36034a3582d2","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":37,"width":6,"height":1},{"id":"beb1dde2171edf24","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":38,"width":6,"height":1},{"id":"531b0cc8ff6e3cb1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":39,"width":6,"height":1},{"id":"51409445f595d194","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":40,"width":6,"height":1},{"id":"076e655568be0128","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":41,"width":6,"height":1},{"id":"a3ee820a531059c7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":42,"width":6,"height":1},{"id":"aefe023c86c76d25","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":43,"width":6,"height":1},{"id":"0582e3e5a00dc41a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":44,"width":6,"height":1},{"id":"2086e7bdb1d69505","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":45,"width":6,"height":1},{"id":"892cfc56294a3c28","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":46,"width":6,"height":1},{"id":"4acc0e21a1b799ea","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":47,"width":6,"height":1},{"id":"521a8fea73f04ba2","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":48,"width":6,"height":1},{"id":"22ee81e53c72d899","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":49,"width":6,"height":1},{"id":"427f58d0a4c1bfe1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":50,"width":6,"height":1},{"id":"1751417053a8f8d1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":51,"width":6,"height":1},{"id":"c2dca47a4a48e3ad","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":52,"width":6,"height":1},{"id":"a797c852e7679bde","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":53,"width":6,"height":1},{"id":"68a1a47da961bf04","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":54,"width":6,"height":1},{"id":"0867d8c01c2fdae7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":55,"width":6,"height":1},{"id":"bdc3cffb43d5b531","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":56,"width":6,"height":1},{"id":"e7393ae2db38f362","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":57,"width":6,"height":1},{"id":"31ecdd1bfac361b5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":58,"width":6,"height":1},{"id":"e705eff558a4f0ec","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":59,"width":6,"height":1},{"id":"08477d6c95cefeb1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":60,"width":6,"height":1},{"id":"6fd705144005f419","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":61,"width":6,"height":1},{"id":"1057f7ef83077f8d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":62,"width":6,"height":1},{"id":"0994247bdd124c8a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":63,"width":6,"height":1},{"id":"e0515a4bfb5aa923","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":64,"width":6,"height":1},{"id":"d2558b663841dbb4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":65,"width":6,"height":1},{"id":"0fbde1bf13082af0","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":66,"width":6,"height":1},{"id":"1f1bbd984768b681","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":1,"width":6,"height":1},{"id":"98cf69a24d3d8981","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"032bea7d1514b94b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":3,"width":6,"height":1},{"id":"be9488d65842744c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":4,"width":6,"height":1},{"id":"dd9a229977a0802a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":5,"width":6,"height":1},{"id":"15d16e4a88c06342","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":6,"width":6,"height":1},{"id":"ef676f2a99a00f25","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":7,"width":6,"height":1},{"id":"10b8b0b281926d0d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":8,"width":6,"height":1},{"id":"8fa159495b8635e8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":9,"width":6,"height":1},{"id":"2064e5a32eabd862","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":10,"width":6,"height":1},{"id":"2905d5a53cc0dd19","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":11,"width":6,"height":1},{"id":"0ecd5b41482e6139","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":12,"width":6,"height":1},{"id":"f9a42347d646147b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":13,"width":6,"height":1},{"id":"aae79d90317135f8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":14,"width":6,"height":1},{"id":"78dd7354e1e5d176","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":15,"width":6,"height":1},{"id":"8c328ebebbf95454","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":16,"width":6,"height":1},{"id":"a305ce7384c62e89","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":19,"width":6,"height":1},{"id":"971231c8e2ee5a97","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":20,"width":6,"height":1},{"id":"19d8735b6f030921","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":21,"width":6,"height":1},{"id":"d7d90fcd647cbf51","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":22,"width":6,"height":1},{"id":"3422b828df36f8b3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":23,"width":6,"height":1},{"id":"0f4ff2d8e3576da3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":24,"width":6,"height":1},{"id":"82f5a87076c936e1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":25,"width":6,"height":1},{"id":"09af2141cd81822a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":26,"width":6,"height":1},{"id":"b434a57003e0a582","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":27,"width":6,"height":1},{"id":"37e8a1549b31c2ef","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":28,"width":6,"height":1},{"id":"ab218b7b89844f85","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":29,"width":6,"height":1},{"id":"f366637c94f1cedc","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":30,"width":6,"height":1},{"id":"c5c30d492a6dbdad","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":31,"width":6,"height":1},{"id":"e00be37bc0c04685","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":32,"width":6,"height":1},{"id":"2514d75d2011615d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":33,"width":6,"height":1},{"id":"5cde9c0f30440f21","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":34,"width":6,"height":1},{"id":"ac8322568faee852","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":35,"width":6,"height":1},{"id":"329af6c369127f9d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":36,"width":6,"height":1},{"id":"4c72c363e8358d3f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":37,"width":6,"height":1},{"id":"b9ea0bed8fd65c54","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":38,"width":6,"height":1},{"id":"73c602f9496f4e55","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":39,"width":6,"height":1},{"id":"8bb40a80e0142328","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":40,"width":6,"height":1},{"id":"bbb78abc54a2d3bc","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":41,"width":6,"height":1},{"id":"f312a8b2ebb9d4dd","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":42,"width":6,"height":1},{"id":"37db2b0be36b3124","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":43,"width":6,"height":1},{"id":"380c41b1c8041ad4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":44,"width":6,"height":1},{"id":"d74afc615c7735d4","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":45,"width":6,"height":1},{"id":"9936cf847207a959","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":46,"width":6,"height":1},{"id":"9f6a61a831990cdf","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":47,"width":6,"height":1},{"id":"eb6f48f55d5d3595","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":48,"width":6,"height":1},{"id":"8431ccf47efe5fe9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":49,"width":6,"height":1},{"id":"e7c51e9ad7bb0ee8","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":50,"width":6,"height":1},{"id":"037ec7ad2afa064d","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":51,"width":6,"height":1},{"id":"386b7ac8c14a77a9","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":52,"width":6,"height":1},{"id":"97af9b26b3886141","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":53,"width":6,"height":1},{"id":"652bea9e27f96de5","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":54,"width":6,"height":1},{"id":"11a6d1086f79928a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":55,"width":6,"height":1},{"id":"e46bd399e0ff288c","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":56,"width":6,"height":1},{"id":"0ded269509b476c2","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":57,"width":6,"height":1},{"id":"9ebe8d1c310f1357","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":58,"width":6,"height":1},{"id":"612fcc58e18b7e02","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":59,"width":6,"height":1},{"id":"2387eb85d3b04402","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":60,"width":6,"height":1},{"id":"b84783516451b628","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":61,"width":6,"height":1},{"id":"cb6925df71646f66","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":62,"width":6,"height":1},{"id":"41dca6130b36ae49","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":63,"width":6,"height":1},{"id":"29d7f676ec120f70","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":64,"width":6,"height":1},{"id":"69d41b851192dbc1","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":65,"width":6,"height":1},{"id":"fdd0c1552b9b2b05","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":66,"width":6,"height":1},{"id":"44339a8615824be7","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":67,"width":6,"height":1},{"id":"51be89a55f866d44","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":68,"width":6,"height":1},{"id":"ec17aad394e1132b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":69,"width":6,"height":1},{"id":"2024941e2eb23962","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":70,"width":6,"height":1},{"id":"056a5b19dac5d76a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":71,"width":6,"height":1},{"id":"61ebdb6c8d7552ce","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":72,"width":6,"height":1},{"id":"d952f3561707e5ad","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":73,"width":6,"height":1},{"id":"e554764943a8d45b","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":74,"width":6,"height":1},{"id":"e8159d97c6062690","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":75,"width":6,"height":1},{"id":"f662530bbe3541f3","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":76,"width":6,"height":1},{"id":"43b04e0a95da27aa","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":77,"width":6,"height":1},{"id":"5ee6eb175bc2440f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":78,"width":6,"height":1},{"id":"8f4fcd7e975d37ac","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":79,"width":6,"height":1},{"id":"39ad5a719ab0578a","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":80,"width":6,"height":1},{"id":"1980d3bcb7bee96f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":81,"width":6,"height":1},{"id":"377c31ef16dda553","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":82,"width":6,"height":1},{"id":"b7fb309e8700d916","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":84,"width":3,"height":1},{"id":"2afb7a30fa43827f","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"","order":85,"width":3,"height":1},{"id":"f09a202c3d6dcc70","type":"ui_group","name":"","tab":"a389d31d995c7c99","order":3,"disp":false,"width":"6","collapse":false,"className":""},{"id":"14ffe629b60ea48b","type":"ui_group","name":"Grafer","tab":"55ec2c0ed4486b32","order":1,"disp":true,"width":"32","collapse":false},{"id":"da18c8a4fe9af15d","type":"ui_group","name":"Chat","tab":"4c2b46d96cf705f9","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"25cea81b503ffd43","type":"ui_group","name":"Custom plant creation","tab":"fc02f96195110949","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a389d31d995c7c99","type":"ui_tab","name":"login","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"55ec2c0ed4486b32","type":"ui_tab","name":"Statistikk/Log","icon":"dashboard","order":1},{"id":"e725f3bedb1a7f6a","type":"ui_group","name":"voice out","tab":"4c2b46d96cf705f9","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"92725c0b8fc95b70","type":"ui_group","name":"Support ticket","tab":"60d248c1e4275780","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2643ca89d87d90b1","type":"ui_spacer","z":"f566569567242907","name":"spacer","group":"ae50fa37204d0b19","order":5,"width":6,"height":1},{"id":"cd6ccf4226b6933a","type":"ui_spacer","z":"f566569567242907","name":"spacer","group":"ae50fa37204d0b19","order":8,"width":6,"height":1},{"id":"73eae177fa67eb32","type":"ui_spacer","z":"f566569567242907","name":"spacer","group":"ae50fa37204d0b19","order":12,"width":6,"height":1},{"id":"ee20d7b12d3adcfb","type":"ui_spacer","z":"f566569567242907","name":"spacer","group":"ae50fa37204d0b19","order":16,"width":6,"height":1},{"id":"95338fe64be39f35","type":"ui_group","name":"unused","tab":"4db604b1107d4edf","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d695d698186d917e","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"1c4b3d89a27b0923","order":3,"width":6,"height":1},{"id":"c2382eef27d8fdc6","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"1c4b3d89a27b0923","order":6,"width":6,"height":1},{"id":"4ab2fc8ef231e145","type":"ui_spacer","z":"853e809978d5cadf","name":"spacer","group":"1c4b3d89a27b0923","order":9,"width":6,"height":1},{"id":"8cb0a944bc95410c","type":"inject","z":"853e809978d5cadf","name":"water database placeholder","props":[{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":440,"y":200,"wires":[["2ab821bbc88c25e9"]]},{"id":"21b4ee09ee13ac0f","type":"inject","z":"853e809978d5cadf","name":"light database placeholder","props":[{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":430,"y":440,"wires":[["3832e0e389bca856"]]},{"id":"711bead0c305060b","type":"inject","z":"853e809978d5cadf","name":"nutrient database placeholder","props":[{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":420,"y":640,"wires":[["c14995d495feba75"]]},{"id":"8141be9ce3dc9332","type":"ui_text","z":"853e809978d5cadf","group":"ae50fa37204d0b19","order":17,"width":0,"height":0,"name":"","label":"Water Level:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1090,"y":200,"wires":[]},{"id":"5b2df7ef3e12945d","type":"ui_gauge","z":"853e809978d5cadf","name":"","group":"ae50fa37204d0b19","order":9,"width":0,"height":0,"gtype":"gage","title":"light intensity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","className":"","x":870,"y":440,"wires":[]},{"id":"6d07e1800d4e56a9","type":"ui_gauge","z":"853e809978d5cadf","name":"","group":"ae50fa37204d0b19","order":13,"width":0,"height":0,"gtype":"gage","title":"nutrients","label":"ppm","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#00b500","#ca3838"],"seg1":"","seg2":"","className":"","x":840,"y":640,"wires":[]},{"id":"c9279c15254b0688","type":"comment","z":"853e809978d5cadf","name":"water level","info":"","x":460,"y":160,"wires":[]},{"id":"e585ad3a05b9f956","type":"comment","z":"853e809978d5cadf","name":"light","info":"","x":470,"y":400,"wires":[]},{"id":"9f3fceed97105539","type":"comment","z":"853e809978d5cadf","name":"nutrients","info":"","x":400,"y":580,"wires":[]},{"id":"fa6f3b86ab0a483c","type":"ui_text","z":"853e809978d5cadf","group":"ae50fa37204d0b19","order":10,"width":0,"height":0,"name":"","label":"Optimal Light","format":"{{msg.payload.light + \"%\"}}","layout":"row-spread","className":"","x":1350,"y":1380,"wires":[]},{"id":"ac80600805b06db8","type":"ui_text","z":"853e809978d5cadf","group":"ae50fa37204d0b19","order":14,"width":0,"height":0,"name":"","label":"Optimal Nutrients","format":"{{msg.payload.nutrients + \"ppm\"}}","layout":"row-spread","className":"","x":1310,"y":1440,"wires":[]},{"id":"9bebbf57ad5be799","type":"function","z":"853e809978d5cadf","name":"database placeholder","func":"type1 = flow.get(\"custom1.type\");\ntype2 = flow.get(\"custom2.type\");\ntype3 = flow.get(\"custom3.type\");\ntype4 = flow.get(\"custom4.type\");\ntype5 = flow.get(\"custom5.type\");\n\nlight1 = flow.get(\"custom1.light\");\nlight2 = flow.get(\"custom2.light\");\nlight3 = flow.get(\"custom3.light\");\nlight4 = flow.get(\"custom4.light\");\nlight5 = flow.get(\"custom5.light\");\n\nnutrients1 = flow.get(\"custom1.nutrients\");\nnutrients2 = flow.get(\"custom2.nutrients\");\nnutrients3 = flow.get(\"custom3.nutrients\");\nnutrients4 = flow.get(\"custom4.nutrients\");\nnutrients5 = flow.get(\"custom5.nutrients\");\n\nlighttime1 = flow.get(\"custom1.lighttime\");\nlighttime2 = flow.get(\"custom2.lighttime\");\nlighttime3 = flow.get(\"custom3.lighttime\");\nlighttime4 = flow.get(\"custom4.lighttime\");\nlighttime5 = flow.get(\"custom5.lighttime\");\n\nif (msg.payload == \"strawberry\"){\n    msg.payload = {\n        light: 30,\n        nutrients: 800,\n        lighttime: 4\n    }\n} \nelse if (msg.payload == \"lettuce\"){\n    msg.payload = {\n        light: 40,\n        nutrients: 580,\n        lighttime: 5\n    }\n} \nelse if (msg.payload == \"artichoke\"){\n    msg.payload = {\n        light: 50,\n        nutrients: 550,\n        lighttime: 6\n    }\n} \nelse if (msg.payload == type1){\n    msg.payload = {\n        light: light1,\n        nutrients: nutrients1,\n        lighttime: lighttime1\n    }\n}\nelse if (msg.payload == type2){\n    msg.payload = {\n        light: light2,\n        nutrients: nutrients2,\n        lighttime: lighttime2\n    }\n}\nelse if (msg.payload == type3){\n    msg.payload = {\n        light: light3,\n        nutrients: nutrients3,\n        lighttime: lighttime3\n    }\n}\nelse if (msg.payload == type4){\n    msg.payload = {\n        light: light4,\n        nutrients: nutrients4,\n        lighttime: lighttime4\n    }\n}\nelse if (msg.payload == type5){\n    msg.payload = {\n        light: light5,\n        nutrients: nutrients5,\n        lighttime: lighttime5\n    }\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1380,"wires":[["fa6f3b86ab0a483c","ac80600805b06db8","0d30e08262332f3e","d3ddc25f7c3f5a7a"]]},{"id":"1ffeca25cf206b67","type":"ui_toast","z":"853e809978d5cadf","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1350,"y":260,"wires":[["8bfa3dc6358d6e9c","c08830a2944ed907"]]},{"id":"aac52e917f301d6c","type":"ui_chart","z":"853e809978d5cadf","name":"","group":"ae50fa37204d0b19","order":15,"width":0,"height":0,"label":"nutrients","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":700,"wires":[[]]},{"id":"e7bedbcac97b2686","type":"ui_toast","z":"853e809978d5cadf","d":true,"position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1820,"y":440,"wires":[]},{"id":"6407623f0d490ed7","type":"ui_toast","z":"853e809978d5cadf","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1780,"y":640,"wires":[]},{"id":"94bb229a93e817d4","type":"function","z":"853e809978d5cadf","name":"","func":"if (msg.payload==0){\n    msg.payload =\"insufficient\";\n}\nelse { msg.payload = \"good\" }\nmsg.time = Date(msg.time)\nmsg.time = msg.time.substring(0,24)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":200,"wires":[["8141be9ce3dc9332","906e05e6b8e60538"]]},{"id":"3b50408fb8dab130","type":"switch","z":"853e809978d5cadf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":260,"wires":[["fbd9b4f7eb9d028d"]]},{"id":"fb4794406ab538c8","type":"comment","z":"853e809978d5cadf","name":"have a list of types and allow deletes","info":"","x":1340,"y":1140,"wires":[]},{"id":"4d9b778ee595fb92","type":"ui_chart","z":"853e809978d5cadf","name":"","group":"ae50fa37204d0b19","order":11,"width":0,"height":0,"label":"light","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":870,"y":500,"wires":[[]]},{"id":"aa3f0a9bf708261c","type":"comment","z":"853e809978d5cadf","name":"notif again if not fixed?","info":"after eg 5 hours","x":1260,"y":300,"wires":[]},{"id":"fbd9b4f7eb9d028d","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Not enough water, please refill tank","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":260,"wires":[["c08830a2944ed907"]]},{"id":"f5d62ad354ea2caa","type":"inject","z":"853e809978d5cadf","name":"pump status placeholder","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":410,"y":1080,"wires":[["c2979383ba5da303"]]},{"id":"b1fb3a7b681c5b73","type":"ui_text","z":"853e809978d5cadf","group":"ae50fa37204d0b19","order":19,"width":0,"height":0,"name":"","label":"Pump Status:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1060,"y":1080,"wires":[]},{"id":"723bd321d863aa84","type":"inject","z":"853e809978d5cadf","name":"light status placeholder","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":400,"y":1180,"wires":[["4a633795531f7b49"]]},{"id":"c5f69099b9240b11","type":"ui_text","z":"853e809978d5cadf","group":"ae50fa37204d0b19","order":18,"width":0,"height":0,"name":"","label":"Light Status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1050,"y":1180,"wires":[]},{"id":"0d30e08262332f3e","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"light","pt":"flow","to":"payload.light","tot":"msg"},{"t":"set","p":"nutrients","pt":"flow","to":"payload.nutrients","tot":"msg"},{"t":"set","p":"optimal.light","pt":"global","to":"payload.light","tot":"msg"},{"t":"set","p":"optimal.nutrients","pt":"global","to":"payload.nutrients","tot":"msg"},{"t":"set","p":"lighttime","pt":"flow","to":"payload.lighttime","tot":"msg"},{"t":"set","p":"optimal.lighttime","pt":"global","to":"payload.lighttime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1520,"wires":[[]]},{"id":"d363cf0452363089","type":"comment","z":"853e809978d5cadf","name":"intitailized as undefined","info":"","x":1360,"y":1180,"wires":[]},{"id":"0459b2eb2a81744b","type":"ui_button","z":"853e809978d5cadf","name":"","group":"03fc659d3fb20cef","order":1,"width":0,"height":0,"passthru":false,"label":"cancel","tooltip":"","color":"","bgcolor":"red","className":"","icon":"close","payload":"cancel","payloadType":"str","topic":"topic","topicType":"msg","x":590,"y":1460,"wires":[["1c98ad39344d630a"]]},{"id":"1c98ad39344d630a","type":"function","z":"853e809978d5cadf","name":"hide custom creation group","func":"if (msg.payload==\"cancel\"){\n    msg.payload={\"group\":{\"hide\":[\"Home_Custom_plant_creation\"],\"focus\": true}}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1500,"wires":[["05f8e7caddae3692"]]},{"id":"9784d4f715a51427","type":"function","z":"853e809978d5cadf","name":"","func":"if (msg.payload==\"customize\" || msg.payload == \"custom\"){\n    msg.payload={\"group\":{\"show\":[\"Home_Custom_plant_creation\"],\"focus\": true}}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":1440,"wires":[["05f8e7caddae3692"]]},{"id":"05f8e7caddae3692","type":"ui_ui_control","z":"853e809978d5cadf","name":"","x":1200,"y":1580,"wires":[[]]},{"id":"d280978a22c0494b","type":"function","z":"853e809978d5cadf","name":"hide custom creation group","func":"msg.payload={\"group\":{\"hide\":[\"Home_Custom_plant_creation\"], \"focus\": true}};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1580,"wires":[["05f8e7caddae3692"]]},{"id":"91ca6f071fcba4fb","type":"ui_form","z":"853e809978d5cadf","name":"","label":"custom plant settings","group":"03fc659d3fb20cef","order":2,"width":0,"height":0,"options":[{"label":"plant type","value":"type","type":"text","required":true,"rows":null},{"label":"optimal nutrients (ppm)","value":"nutrients","type":"number","required":true,"rows":null},{"label":"optimal light intensity (%)","value":"light","type":"number","required":true,"rows":null},{"label":"optimal time exposed to light (hours)","value":"lighttime","type":"number","required":true,"rows":null}],"formValue":{"type":"","nutrients":"","light":"","lighttime":""},"payload":"","submit":"submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":340,"y":1600,"wires":[["d280978a22c0494b","6ce51d2c5cd48415"]]},{"id":"85c063c51fc88610","type":"ui_dropdown","z":"853e809978d5cadf","name":"plant selection","label":"Plant Type","tooltip":"choose plant","place":"strawberry","group":"ae50fa37204d0b19","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"strawberry","value":"strawberry","type":"str"},{"label":"lettuce","value":"lettuce","type":"str"},{"label":"artichoke","value":"artichoke","type":"str"},{"label":"custom","value":"customize","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":540,"y":1380,"wires":[["9bebbf57ad5be799","9784d4f715a51427"]]},{"id":"8bfa3dc6358d6e9c","type":"debug","z":"853e809978d5cadf","name":"notif out","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":260,"wires":[]},{"id":"c08830a2944ed907","type":"trigger","z":"853e809978d5cadf","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"OK","bytopic":"all","topic":"topic","outputs":1,"x":1180,"y":260,"wires":[["1ffeca25cf206b67"]]},{"id":"c26de14b57aa66dd","type":"switch","z":"853e809978d5cadf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"notif","vt":"str"},{"t":"neq","v":"notif","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":440,"wires":[["59cf3c09e1de6eb1"],["9ae8bb72a78447ae"]]},{"id":"715c4e58d5a3e323","type":"switch","z":"853e809978d5cadf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"too much nutrients","vt":"str"},{"t":"eq","v":"insufficient nutrients","vt":"str"},{"t":"eq","v":"right amount of nutrients","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1130,"y":640,"wires":[["58a2c88abdb7d18f","6407623f0d490ed7","394698326a31c9aa"],["58a2c88abdb7d18f","6407623f0d490ed7","394698326a31c9aa"],["2478a2d3df1cec3e"]]},{"id":"c33c219358b06e40","type":"function","z":"853e809978d5cadf","d":true,"name":"","func":"var optimal = flow.get(\"light\") || \"no value\";\nif (((msg.payload - optimal)>=10) || ((msg.payload - optimal)<=-10) ){\n    msg.payload = \"notif\";\n}\nmsg.time = Date(msg.time)\nmsg.time = msg.time.substring(0,24)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":440,"wires":[["c26de14b57aa66dd"]]},{"id":"4b949ea739446bdc","type":"function","z":"853e809978d5cadf","name":"","func":"var optimal = flow.get(\"nutrients\") || \"no value\";\nif ((msg.payload - optimal)>=10){\n    msg.payload = \"too much nutrients\";\n    msg.topic = \"too much nutrients\";\n}\nelse if((optimal - msg.payload)>=10){\n    msg.payload = \"insufficient nutrients\";\n    msg.topic = \"insufficient nutrients\";\n}\nelse {msg.payload = \"right amount of nutrients\";}\n\nmsg.time = Date(msg.time);\nmsg.time = msg.time.substring(0,24);\nmsg.flow = optimal;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":640,"wires":[["715c4e58d5a3e323"]]},{"id":"59cf3c09e1de6eb1","type":"function","z":"853e809978d5cadf","name":"","func":"msg.payload = \"insufficient\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":440,"wires":[["e7bedbcac97b2686","2780f882ab336b9b","ba126891edea852a","1dc4c9a99c18cb76"]]},{"id":"2ab821bbc88c25e9","type":"random","z":"853e809978d5cadf","name":"","low":"0","high":"1","inte":"true","property":"payload","x":680,"y":200,"wires":[["3b50408fb8dab130","94bb229a93e817d4"]]},{"id":"3832e0e389bca856","type":"random","z":"853e809978d5cadf","name":"","low":"10","high":"80","inte":"true","property":"payload","x":680,"y":440,"wires":[["5b2df7ef3e12945d","4d9b778ee595fb92","c33c219358b06e40"]]},{"id":"c14995d495feba75","type":"random","z":"853e809978d5cadf","name":"","low":"10","high":"80","inte":"true","property":"payload","x":660,"y":640,"wires":[["6d07e1800d4e56a9","aac52e917f301d6c","4b949ea739446bdc"]]},{"id":"c2979383ba5da303","type":"random","z":"853e809978d5cadf","name":"","low":"0","high":"1","inte":"true","property":"payload","x":640,"y":1080,"wires":[["85a29e824cf1a2e7"]]},{"id":"4a633795531f7b49","type":"random","z":"853e809978d5cadf","name":"","low":"0","high":"1","inte":"true","property":"payload","x":640,"y":1180,"wires":[["1c642fef6544f925"]]},{"id":"7e0e47140831a7eb","type":"ui_text","z":"853e809978d5cadf","group":"1c4b3d89a27b0923","order":1,"width":6,"height":1,"name":"timestamp","label":"","format":"{{msg.time}}","layout":"row-spread","className":"","x":1990,"y":140,"wires":[]},{"id":"c2b23f4dd3f6ef23","type":"comment","z":"853e809978d5cadf","name":"pending/resolved","info":"","x":1560,"y":380,"wires":[]},{"id":"998a9e36811c92b5","type":"ui_text","z":"853e809978d5cadf","group":"1c4b3d89a27b0923","order":2,"width":0,"height":0,"name":"notif","label":"Insufficient water","format":"{{msg.payload}}","layout":"row-spread","className":"blue","x":1970,"y":200,"wires":[]},{"id":"2780f882ab336b9b","type":"ui_text","z":"853e809978d5cadf","d":true,"group":"95338fe64be39f35","order":1,"width":6,"height":1,"name":"timestamp","label":"","format":"{{msg.time}}","layout":"row-spread","className":"","x":1830,"y":480,"wires":[]},{"id":"c88ab98a73bdd6ad","type":"ui_text","z":"853e809978d5cadf","d":true,"group":"95338fe64be39f35","order":2,"width":0,"height":0,"name":"notif","label":"Insufficient brightness","format":"{{msg.payload}}","layout":"row-spread","className":"yellow","x":1790,"y":540,"wires":[]},{"id":"fadf94fb6cc51502","type":"ui_text","z":"853e809978d5cadf","group":"1c4b3d89a27b0923","order":4,"width":6,"height":1,"name":"timestamp","label":"","format":"{{msg.time}}","layout":"row-spread","className":"","x":1850,"y":680,"wires":[]},{"id":"f89a500778c977e4","type":"ui_text","z":"853e809978d5cadf","group":"1c4b3d89a27b0923","order":5,"width":0,"height":0,"name":"notif","label":"{{msg.topic}}","format":"{{msg.payload}}","layout":"row-spread","className":"green","x":1770,"y":740,"wires":[]},{"id":"5f19a2aa2429baa0","type":"comment","z":"853e809978d5cadf","name":"chat inputs","info":"","x":160,"y":2260,"wires":[]},{"id":"148c6b8a9c3ba955","type":"ui_button","z":"853e809978d5cadf","name":"delete custom type 1","group":"bba4a605a0bbeddb","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"white","bgcolor":"red","className":"","icon":"delete","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":720,"y":2080,"wires":[["be49bae6d5185561"]]},{"id":"85a29e824cf1a2e7","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1080,"wires":[["b1fb3a7b681c5b73"]]},{"id":"1c642fef6544f925","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"off","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1180,"wires":[["c5f69099b9240b11"]]},{"id":"27d50295f06882e6","type":"ui_button","z":"853e809978d5cadf","name":"add custom","group":"bba4a605a0bbeddb","order":9,"width":6,"height":1,"passthru":false,"label":"","tooltip":"","color":"white","bgcolor":"green","className":"","icon":"add","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":1820,"wires":[["132864af4c72099e"]]},{"id":"0a07f1ffdc8aa705","type":"ui_text","z":"853e809978d5cadf","group":"bba4a605a0bbeddb","order":1,"width":5,"height":1,"name":"","label":"1.","format":"{{msg.payload.custom1.type}}","layout":"row-spread","className":"","x":550,"y":2080,"wires":[]},{"id":"9ff102e69066ebb5","type":"change","z":"853e809978d5cadf","name":"get types from flow","rules":[{"t":"set","p":"payload.custom1.type","pt":"msg","to":"custom1.type","tot":"flow"},{"t":"set","p":"payload.custom2.type","pt":"msg","to":"custom2.type","tot":"flow"},{"t":"set","p":"payload.custom3.type","pt":"msg","to":"custom3.type","tot":"flow"},{"t":"set","p":"payload.custom4.type","pt":"msg","to":"custom4.type","tot":"flow"},{"t":"set","p":"payload.custom5.type","pt":"msg","to":"custom5.type","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2080,"wires":[["0a07f1ffdc8aa705","44d04299cf3b68b9","4ff70ab3af5ecc6b","067a7f844e527fc2","b360e1001c30e10b","a39754e579f28487"]]},{"id":"44d04299cf3b68b9","type":"ui_text","z":"853e809978d5cadf","group":"bba4a605a0bbeddb","order":1,"width":5,"height":1,"name":"","label":"2.","format":"{{msg.payload.custom2.type}}","layout":"row-spread","className":"","x":550,"y":2120,"wires":[]},{"id":"3c2c158750a3d090","type":"function","z":"853e809978d5cadf","name":"get types from flow/database","func":"type1 = flow.get(\"custom1.type\");\ntype2 = flow.get(\"custom2.type\");\ntype3 = flow.get(\"custom3.type\");\ntype4 = flow.get(\"custom4.type\");\ntype5 = flow.get(\"custom5.type\");\n\nmsg.options = [{\"strawberry\":\"strawberry\"},{\"lettuce\":\"lettuce\"},{\"artichoke\":\"artichoke\"},{\"customize\":\"custom\"}];\n\nif(type5){\n    msg.options.unshift({[type5]:type5});\n}\nif(type4){\n    msg.options.unshift({[type4]:type4});\n}\nif(type3){\n    msg.options.unshift({[type3]:type3});\n}\nif(type2){\n    msg.options.unshift({[type2]:type2});\n}\nif(type1){\n    msg.options.unshift({[type1]:type1});\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":1380,"wires":[["85c063c51fc88610","a278314e55d3a2b6"]]},{"id":"ede8c7fad396b90d","type":"comment","z":"853e809978d5cadf","name":"settings page","info":"","x":930,"y":2720,"wires":[]},{"id":"9608b9604326a053","type":"ui_button","z":"853e809978d5cadf","d":true,"name":"","group":"fe131b557016dc94","order":2,"width":0,"height":0,"passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Are you sure you want to logout?","payloadType":"str","topic":"topic","topicType":"msg","x":910,"y":2780,"wires":[["066ecdd6c8fa26ae"]]},{"id":"9a86c69c08e92cf2","type":"ui_ui_control","z":"853e809978d5cadf","name":"show login","x":1530,"y":2780,"wires":[[]]},{"id":"066ecdd6c8fa26ae","type":"ui_toast","z":"853e809978d5cadf","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"cancel","raw":false,"className":"","topic":"","name":"","x":1070,"y":2780,"wires":[["b3e4108d1a34cfe2","b336fce36018003f"]]},{"id":"b3e4108d1a34cfe2","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"OK","fromt":"str","to":"login","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":2780,"wires":[["9a86c69c08e92cf2"]]},{"id":"ed55e083c40b6837","type":"ui_template","z":"853e809978d5cadf","group":"bba4a605a0bbeddb","name":"css","order":10,"width":0,"height":0,"format":"<style>\n    .blue {\n        background-color: #7FFFD4 !important;\n        color: black !important;\n    }\n    .green {\n        background-color: #7FFF00 !important;\n        color: black !important;\n    }\n    .yellow {\n        background-color: #FFD700 !important;\n        color: black !important;\n    }\n    .white{\n        background-color: #F8F8FF !important;\n        color: black !important;\n    }\n    .crimson{\n        background-color: #DC143C !important;\n        color: black !important;\n    }\n    .assist_msg{\n        background-color: #ADD8E6 !important;\n        color: black !important;\n    }\n    .usr_msg{\n        background-color: #ADD8E6 !important;\n        color: black !important;\n    }\n    .text_border{\n        border-top: 2px green !important;\n    }\n    .welcome{\n        color: #228B22 !important;\n        font-size: 150% !important;\n        font-family: \"Times New Roman\" !important;\n    }\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":370,"y":60,"wires":[[]]},{"id":"a1eda5b6623f38f1","type":"ui_button","z":"853e809978d5cadf","d":true,"name":"","group":"fe131b557016dc94","order":3,"width":0,"height":0,"passthru":false,"label":"only display recommended plants (weather)","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Are you sure you want to logout?","payloadType":"str","topic":"topic","topicType":"msg","x":1030,"y":2960,"wires":[[]]},{"id":"191910f468ab895a","type":"function","z":"853e809978d5cadf","name":"","func":"msg.payload={\"tabs\":{\"disable\":[\"Home\",\"Assistant\",\"Notifications\",\"Custom\",\"Help\",\"Settings\"]}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":2840,"wires":[["9a86c69c08e92cf2"]]},{"id":"b336fce36018003f","type":"switch","z":"853e809978d5cadf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":2840,"wires":[["191910f468ab895a"]]},{"id":"4ff70ab3af5ecc6b","type":"ui_text","z":"853e809978d5cadf","group":"bba4a605a0bbeddb","order":1,"width":5,"height":1,"name":"","label":"3.","format":"{{msg.payload.custom3.type}}","layout":"row-spread","className":"","x":550,"y":2160,"wires":[]},{"id":"067a7f844e527fc2","type":"ui_text","z":"853e809978d5cadf","group":"bba4a605a0bbeddb","order":1,"width":5,"height":1,"name":"","label":"4.","format":"{{msg.payload.custom4.type}}","layout":"row-spread","className":"","x":550,"y":2200,"wires":[]},{"id":"b360e1001c30e10b","type":"ui_text","z":"853e809978d5cadf","group":"bba4a605a0bbeddb","order":1,"width":5,"height":1,"name":"","label":"5.","format":"{{msg.payload.custom5.type}}","layout":"row-spread","className":"","x":550,"y":2240,"wires":[]},{"id":"fff248f996edcac4","type":"ui_button","z":"853e809978d5cadf","name":"delete custom type 2","group":"bba4a605a0bbeddb","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"white","bgcolor":"red","className":"","icon":"delete","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":720,"y":2120,"wires":[["94d5c31bacbd2e7a"]]},{"id":"d091475f0a393178","type":"ui_button","z":"853e809978d5cadf","name":"delete custom type 3","group":"bba4a605a0bbeddb","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"white","bgcolor":"red","className":"","icon":"delete","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":720,"y":2160,"wires":[["9dbe4bbf910188eb"]]},{"id":"9f031d56ba71f8f5","type":"ui_button","z":"853e809978d5cadf","name":"delete custom type 4","group":"bba4a605a0bbeddb","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"white","bgcolor":"red","className":"","icon":"delete","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":720,"y":2200,"wires":[["87ac97b15368b9b6"]]},{"id":"848e566214a04141","type":"ui_button","z":"853e809978d5cadf","name":"delete custom type 5","group":"bba4a605a0bbeddb","order":2,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"white","bgcolor":"red","className":"","icon":"delete","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":720,"y":2240,"wires":[["5eebfa970c2f4a69"]]},{"id":"be49bae6d5185561","type":"change","z":"853e809978d5cadf","name":"get types from flow","rules":[{"t":"delete","p":"custom1","pt":"flow"},{"t":"set","p":"custom1","pt":"flow","to":"custom2","tot":"flow"},{"t":"set","p":"custom2","pt":"flow","to":"custom3","tot":"flow"},{"t":"set","p":"custom3","pt":"flow","to":"custom4","tot":"flow"},{"t":"set","p":"custom4","pt":"flow","to":"custom5","tot":"flow"},{"t":"delete","p":"custom5","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2080,"wires":[["4b0886c20c127194"]]},{"id":"3652e19213bf8e3e","type":"ui_text","z":"853e809978d5cadf","group":"da18c8a4fe9af15d","order":4,"width":6,"height":2,"name":"msg1","label":"{{msg.label1}}","format":"{{msg.text1}}","layout":"row-spread","className":"text_border","x":950,"y":2440,"wires":[]},{"id":"ad0d7edd9c1d13c2","type":"ui_text","z":"853e809978d5cadf","group":"da18c8a4fe9af15d","order":3,"width":6,"height":2,"name":"msg2","label":"{{msg.label2}}","format":"{{msg.text2}}","layout":"row-spread","className":"text_border","x":950,"y":2480,"wires":[]},{"id":"2b3445e0aa4b3e86","type":"ui_text","z":"853e809978d5cadf","group":"da18c8a4fe9af15d","order":2,"width":6,"height":2,"name":"msg3","label":"{{msg.label3}}","format":"{{msg.text3}}","layout":"row-spread","className":"text_border","x":950,"y":2520,"wires":[]},{"id":"032b0e49e2717b08","type":"ui_text_input","z":"853e809978d5cadf","name":"","label":"","tooltip":"type here","group":"da18c8a4fe9af15d","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"you:","sendOnBlur":true,"className":"","topicType":"str","x":240,"y":2360,"wires":[["01ffc80443123bd3","219105cdfa7aa04c","ae64b30f048e4469"]]},{"id":"f8158e2a18c87638","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"text3","pt":"msg","to":"text3","tot":"flow"},{"t":"set","p":"text2","pt":"msg","to":"text2","tot":"flow"},{"t":"set","p":"text1","pt":"msg","to":"text1","tot":"flow"},{"t":"set","p":"label3","pt":"msg","to":"label3","tot":"flow"},{"t":"set","p":"label2","pt":"msg","to":"label2","tot":"flow"},{"t":"set","p":"label1","pt":"msg","to":"label1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":2500,"wires":[["3652e19213bf8e3e","ad0d7edd9c1d13c2","2b3445e0aa4b3e86"]]},{"id":"dcb8cd32e48f0602","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"text2","pt":"flow","to":"text1","tot":"flow"},{"t":"set","p":"label2","pt":"flow","to":"label1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2460,"wires":[["5695185e9ac0c26c"]]},{"id":"219105cdfa7aa04c","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"text3","pt":"flow","to":"text2","tot":"flow"},{"t":"set","p":"label3","pt":"flow","to":"label2","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2460,"wires":[["dcb8cd32e48f0602"]]},{"id":"5695185e9ac0c26c","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"text1","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"label1","pt":"flow","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2500,"wires":[["f8158e2a18c87638"]]},{"id":"fcda16b4c9124420","type":"ui_microphone","z":"853e809978d5cadf","name":"","group":"da18c8a4fe9af15d","order":6,"width":0,"height":0,"maxLength":5,"maxRecogLength":5,"timeslice":0,"press":"click","mode":"audio","interimResults":false,"x":230,"y":2320,"wires":[["f3401b46534d7970"]]},{"id":"ab9a0f2dce5730e0","type":"ui_ui_control","z":"853e809978d5cadf","name":"","x":640,"y":1820,"wires":[[]]},{"id":"7bed29196731cc39","type":"ui_form","z":"853e809978d5cadf","name":"","label":"custom plant settings","group":"25cea81b503ffd43","order":1,"width":0,"height":0,"options":[{"label":"plant type","value":"type","type":"text","required":true,"rows":null},{"label":"optimal nutrients (ppm)","value":"nutrients","type":"number","required":true,"rows":null},{"label":"optimal light intensity (%)","value":"light","type":"number","required":true,"rows":null},{"label":"optimal time exposed to light (hours)","value":"lighttime","type":"number","required":true,"rows":null}],"formValue":{"type":"","nutrients":"","light":"","lighttime":""},"payload":"","submit":"submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":340,"y":1700,"wires":[["6ce51d2c5cd48415","c30914721986c034"]]},{"id":"6ce51d2c5cd48415","type":"switch","z":"853e809978d5cadf","name":"not empty","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":1660,"wires":[["5b2be5845f586614"]]},{"id":"5b2be5845f586614","type":"function","z":"853e809978d5cadf","name":"add to flow variables","func":"type1 = flow.get(\"custom1.type\");\ntype2 = flow.get(\"custom2.type\");\ntype3 = flow.get(\"custom3.type\");\ntype4 = flow.get(\"custom4.type\");\ntype5 = flow.get(\"custom5.type\");\n\nif(!type1){\n    flow.set(\"custom1.type\",msg.payload.type);\n    flow.set(\"custom1.light\",msg.payload.light);\n    flow.set(\"custom1.nutrients\",msg.payload.nutrients);\n    flow.set(\"custom1.lighttime\",msg.payload.lighttime);\n}\nelse if(!type2){\n    flow.set(\"custom2.type\",msg.payload.type);\n    flow.set(\"custom2.light\",msg.payload.light);\n    flow.set(\"custom2.nutrients\",msg.payload.nutrients);\n    flow.set(\"custom2.lighttime\",msg.payload.lighttime);\n}\nelse if(!type3){\n    flow.set(\"custom3.type\",msg.payload.type);\n    flow.set(\"custom3.light\",msg.payload.light);\n    flow.set(\"custom3.nutrients\",msg.payload.nutrients);\n    flow.set(\"custom3.lighttime\",msg.payload.lighttime);\n}\nelse if(!type4){\n    flow.set(\"custom4.type\",msg.payload.type);\n    flow.set(\"custom4.light\",msg.payload.light);\n    flow.set(\"custom4.nutrients\",msg.payload.nutrients);\n    flow.set(\"custom4.lighttime\",msg.payload.lighttime);\n}\nelse if(!type5){\n    flow.set(\"custom5.type\",msg.payload.type);\n    flow.set(\"custom5.light\",msg.payload.light);\n    flow.set(\"custom5.nutrients\",msg.payload.nutrients);\n    flow.set(\"custom5.lighttime\",msg.payload.lighttime);\n}\nelse {\n    msg.payload=\"full\";\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1660,"wires":[["7b976686f6e33636"]]},{"id":"9d9f0f883b3309f2","type":"ui_gauge","z":"853e809978d5cadf","name":"","group":"ae50fa37204d0b19","order":6,"width":0,"height":0,"gtype":"donut","title":"required light received by plant","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#e6e600","#e6e600","#e6e600"],"seg1":"","seg2":"","className":"","x":1230,"y":820,"wires":[]},{"id":"58781ffc49da9586","type":"inject","z":"853e809978d5cadf","name":"lightcompleted","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":820,"wires":[["34d424c6149c94ae"]]},{"id":"34d424c6149c94ae","type":"random","z":"853e809978d5cadf","name":"","low":"0","high":"50","inte":"true","property":"payload","x":540,"y":820,"wires":[["8ccc992eb2261a13"]]},{"id":"7b976686f6e33636","type":"switch","z":"853e809978d5cadf","name":"is custom list full?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"full","vt":"str"},{"t":"neq","v":"full","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":1660,"wires":[["489dbd2186601b74"],["f5e54f3254127ddc","06f407a758fb16d3"]]},{"id":"2761886476d241c8","type":"ui_toast","z":"853e809978d5cadf","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1350,"y":1660,"wires":[[]]},{"id":"489dbd2186601b74","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"The custom list is full, please delete one to create more.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1660,"wires":[["2761886476d241c8"]]},{"id":"f5e54f3254127ddc","type":"link out","z":"853e809978d5cadf","name":"new custom","mode":"link","links":["5f4349c112464aa2"],"x":1405,"y":1800,"wires":[]},{"id":"132864af4c72099e","type":"function","z":"853e809978d5cadf","name":"","func":"msg.payload = {\"group\":{\"show\":[\"Custom_Custom_plant_creation\"],\"focus\": true}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1820,"wires":[["ab9a0f2dce5730e0"]]},{"id":"c706e98c1fe57e51","type":"ui_button","z":"853e809978d5cadf","name":"","group":"25cea81b503ffd43","order":2,"width":0,"height":0,"passthru":false,"label":"cancel","tooltip":"","color":"","bgcolor":"red","className":"","icon":"close","payload":"cancel","payloadType":"str","topic":"topic","topicType":"msg","x":290,"y":1880,"wires":[["ea4d6d760fc76488"]]},{"id":"c30914721986c034","type":"function","z":"853e809978d5cadf","name":"hide custom creation group","func":"msg.payload={\"group\":{\"hide\":[\"Custom_Custom_plant_creation\"], \"focus\": true}};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1760,"wires":[["ab9a0f2dce5730e0"]]},{"id":"ea4d6d760fc76488","type":"function","z":"853e809978d5cadf","name":"hide custom creation group","func":"if (msg.payload==\"cancel\"){\n    msg.payload={\"group\":{\"hide\":[\"Custom_Custom_plant_creation\"], \"focus\": true}};\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1880,"wires":[["ab9a0f2dce5730e0"]]},{"id":"5f4349c112464aa2","type":"link in","z":"853e809978d5cadf","name":"inject custom","links":["f5e54f3254127ddc"],"x":75,"y":1380,"wires":[["9ff102e69066ebb5","3c2c158750a3d090"]]},{"id":"a39754e579f28487","type":"debug","z":"853e809978d5cadf","name":"custom tab","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":2020,"wires":[]},{"id":"94d5c31bacbd2e7a","type":"change","z":"853e809978d5cadf","name":"get types from flow","rules":[{"t":"delete","p":"custom2","pt":"flow"},{"t":"set","p":"custom2","pt":"flow","to":"custom3","tot":"flow"},{"t":"set","p":"custom3","pt":"flow","to":"custom4","tot":"flow"},{"t":"set","p":"custom4","pt":"flow","to":"custom5","tot":"flow"},{"t":"delete","p":"custom5","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2120,"wires":[["4b0886c20c127194"]]},{"id":"9dbe4bbf910188eb","type":"change","z":"853e809978d5cadf","name":"get types from flow","rules":[{"t":"delete","p":"custom3","pt":"flow"},{"t":"set","p":"custom3","pt":"flow","to":"custom4","tot":"flow"},{"t":"set","p":"custom4","pt":"flow","to":"custom5","tot":"flow"},{"t":"delete","p":"custom5","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2160,"wires":[["4b0886c20c127194"]]},{"id":"87ac97b15368b9b6","type":"change","z":"853e809978d5cadf","name":"get types from flow","rules":[{"t":"delete","p":"custom4","pt":"flow"},{"t":"set","p":"custom4","pt":"flow","to":"custom5","tot":"flow"},{"t":"delete","p":"custom5","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2200,"wires":[["4b0886c20c127194"]]},{"id":"5eebfa970c2f4a69","type":"change","z":"853e809978d5cadf","name":"get types from flow","rules":[{"t":"delete","p":"custom5","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2240,"wires":[["4b0886c20c127194"]]},{"id":"870c5ced051b9517","type":"comment","z":"853e809978d5cadf","name":"get from flow for now","info":"","x":910,"y":1340,"wires":[]},{"id":"02c5c9610f6b2715","type":"comment","z":"853e809978d5cadf","name":"plant types + custom","info":"","x":170,"y":1320,"wires":[]},{"id":"4b0886c20c127194","type":"function","z":"853e809978d5cadf","name":"","func":"msg.payload={};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":1960,"wires":[["f5e54f3254127ddc","52617c52befb3861"]]},{"id":"520448cc8a8bf5a5","type":"switch","z":"853e809978d5cadf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"customize","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":1380,"wires":[[]]},{"id":"8ccc992eb2261a13","type":"function","z":"853e809978d5cadf","name":"","func":"var temp1 = flow.get(\"light_progress\") || 0;\nvar temp2 = msg.payload + temp1;\nif(temp2>100){temp2=100;}\nflow.set(\"light_progress\",temp2);\nmsg.payload = temp2;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":820,"wires":[["223db521f41e1c56"]]},{"id":"223db521f41e1c56","type":"change","z":"853e809978d5cadf","name":"lightcompleted","rules":[{"t":"set","p":"lightcompleted","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":820,"wires":[["9d9f0f883b3309f2"]]},{"id":"827655463c172a24","type":"function","z":"853e809978d5cadf","name":"","func":"msg.time = Date(msg.time)\nmsg.time = msg.time.substring(0,24)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":980,"wires":[["ad2d371f9a8e7b66"]]},{"id":"23b74fae0b72dfa0","type":"ui_toast","z":"853e809978d5cadf","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1780,"y":920,"wires":[]},{"id":"0895e699072c1b9f","type":"ui_text","z":"853e809978d5cadf","group":"1c4b3d89a27b0923","order":7,"width":6,"height":1,"name":"timestamp","label":"","format":"{{msg.time}}","layout":"row-spread","className":"","x":1930,"y":960,"wires":[]},{"id":"741e963bb1fe11a3","type":"ui_text","z":"853e809978d5cadf","group":"1c4b3d89a27b0923","order":8,"width":0,"height":0,"name":"notif","label":"Failed to get targeted time exposed to light","format":"{{msg.payload}}","layout":"row-spread","className":"white","x":1830,"y":1040,"wires":[]},{"id":"2d19ae5b32474d72","type":"switch","z":"853e809978d5cadf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":980,"wires":[["cb210fecf9efd0bd","105e9f75ee3df6ba"],["3e735b8bfb745fd5","d9904946186406ca","105e9f75ee3df6ba"]]},{"id":"cb210fecf9efd0bd","type":"change","z":"853e809978d5cadf","name":"resolved","rules":[{"t":"set","p":"payload","pt":"msg","to":"resolved","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":1040,"wires":[["741e963bb1fe11a3","5542dd253a1fc5e9"]]},{"id":"d9904946186406ca","type":"change","z":"853e809978d5cadf","name":"pending","rules":[{"t":"set","p":"payload","pt":"msg","to":"pending","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":960,"wires":[["5542dd253a1fc5e9","741e963bb1fe11a3"]]},{"id":"3e735b8bfb745fd5","type":"change","z":"853e809978d5cadf","name":"notif","rules":[{"t":"set","p":"payload","pt":"msg","to":"Failed to get targeted time exposed to light","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":920,"wires":[["23b74fae0b72dfa0"]]},{"id":"394698326a31c9aa","type":"change","z":"853e809978d5cadf","name":"pending","rules":[{"t":"set","p":"payload","pt":"msg","to":"pending","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":700,"wires":[["f89a500778c977e4"]]},{"id":"2478a2d3df1cec3e","type":"change","z":"853e809978d5cadf","name":"resolved","rules":[{"t":"set","p":"payload","pt":"msg","to":"resolved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":740,"wires":[["58a2c88abdb7d18f","f89a500778c977e4"]]},{"id":"ba126891edea852a","type":"change","z":"853e809978d5cadf","name":"pending","rules":[{"t":"set","p":"payload","pt":"msg","to":"pending","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":500,"wires":[["f46435c18512f466"]]},{"id":"9ae8bb72a78447ae","type":"change","z":"853e809978d5cadf","name":"resolved","rules":[{"t":"set","p":"payload","pt":"msg","to":"resolved","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":540,"wires":[["c88ab98a73bdd6ad","f46435c18512f466"]]},{"id":"906e05e6b8e60538","type":"switch","z":"853e809978d5cadf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"insufficient","vt":"str"},{"t":"neq","v":"insufficient","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1350,"y":200,"wires":[["ab93d6659b30cc06"],["fe9a9a440d1d4221"]]},{"id":"fe9a9a440d1d4221","type":"change","z":"853e809978d5cadf","name":"resolved","rules":[{"t":"set","p":"payload","pt":"msg","to":"resolved","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":200,"wires":[["998a9e36811c92b5","7b4a45ad4161473f"]]},{"id":"ab93d6659b30cc06","type":"change","z":"853e809978d5cadf","name":"pending","rules":[{"t":"set","p":"payload","pt":"msg","to":"pending","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":140,"wires":[["998a9e36811c92b5","7b4a45ad4161473f"]]},{"id":"2cdbde00cded2bc7","type":"ui_switch","z":"853e809978d5cadf","name":"mute","label":"mute voice","tooltip":"","group":"fe131b557016dc94","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"volume_up","oncolor":"gray","offvalue":"0","offvalueType":"num","officon":"volume_mute","offcolor":"gray","animate":false,"className":"","x":1030,"y":2900,"wires":[["ce901c48d557ee78","902ad4053c6c1350"]]},{"id":"3b9210316dd27f52","type":"ui_template","z":"853e809978d5cadf","group":"da18c8a4fe9af15d","name":"line","order":1,"width":0,"height":0,"format":"<hr size=\"2\" width=\"95%\" color=\"gray\">  ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":750,"y":2380,"wires":[[]]},{"id":"d3ddc25f7c3f5a7a","type":"ui_text","z":"853e809978d5cadf","group":"ae50fa37204d0b19","order":7,"width":0,"height":0,"name":"","label":"Targeted time:","format":"{{msg.payload.lighttime + \" hours\"}}","layout":"row-spread","className":"","x":1400,"y":1300,"wires":[]},{"id":"df2a4c967260ca6f","type":"inject","z":"853e809978d5cadf","name":"daily inject","props":[{"p":"time","v":"","vt":"date"},{"p":"payload"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":690,"y":980,"wires":[["827655463c172a24"]]},{"id":"588fef7fcdd203f6","type":"inject","z":"853e809978d5cadf","name":"initialize plant1","props":[{"p":"payload.light","v":"1","vt":"str"},{"p":"topic","vt":"str"},{"p":"payload.nutrients","v":"1","vt":"str"},{"p":"payload.lighttime","v":"1","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":740,"y":1300,"wires":[["5053888c81f982b7"]]},{"id":"5053888c81f982b7","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"payload.light","pt":"msg","to":"30","tot":"num"},{"t":"set","p":"light","pt":"flow","to":"30","tot":"str"},{"t":"set","p":"nutrients","pt":"flow","to":"800","tot":"str"},{"t":"set","p":"payload.nutrients","pt":"msg","to":"800","tot":"str"},{"t":"set","p":"optimal.light","pt":"global","to":"30","tot":"str"},{"t":"set","p":"optimal.nutrients","pt":"global","to":"800","tot":"str"},{"t":"set","p":"payload.lighttime","pt":"msg","to":"4","tot":"str"},{"t":"set","p":"lighttime","pt":"flow","to":"4","tot":"str"},{"t":"set","p":"optimal.lighttime","pt":"global","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1280,"wires":[["fa6f3b86ab0a483c","ac80600805b06db8","d3ddc25f7c3f5a7a"]]},{"id":"01ffc80443123bd3","type":"link out","z":"853e809978d5cadf","name":"chat in","mode":"link","links":["e6517158a83d2062"],"x":385,"y":2360,"wires":[]},{"id":"f3401b46534d7970","type":"link out","z":"853e809978d5cadf","name":"mic in","mode":"link","links":["499f2c130fc6d417"],"x":385,"y":2320,"wires":[]},{"id":"0be8cf79579ee3d9","type":"link in","z":"853e809978d5cadf","name":"mic2text 1","links":["09e7b304c881d4f1"],"x":85,"y":2460,"wires":[["7eaac48d877c2f8c","fb95b579af81bfc3"]]},{"id":"7eaac48d877c2f8c","type":"change","z":"853e809978d5cadf","name":"user","rules":[{"t":"set","p":"topic","pt":"msg","to":"you:","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":2460,"wires":[["219105cdfa7aa04c"]]},{"id":"f5183fd2ed089369","type":"link in","z":"853e809978d5cadf","name":"assistin","links":["2227fb971d53fdc5"],"x":85,"y":2520,"wires":[["25c8686d6593eee3","d746b6237c50742b"]]},{"id":"25c8686d6593eee3","type":"change","z":"853e809978d5cadf","name":"assistant","rules":[{"t":"set","p":"topic","pt":"msg","to":"assistant:","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":2520,"wires":[["219105cdfa7aa04c"]]},{"id":"d746b6237c50742b","type":"debug","z":"853e809978d5cadf","name":"assist_msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":210,"y":2560,"wires":[]},{"id":"fb95b579af81bfc3","type":"debug","z":"853e809978d5cadf","name":"usr msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":160,"y":2420,"wires":[]},{"id":"ae64b30f048e4469","type":"debug","z":"853e809978d5cadf","name":"text in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":2420,"wires":[]},{"id":"cacfcf64cdf2a97d","type":"ui_ui_control","z":"853e809978d5cadf","name":"","events":"all","x":1080,"y":3240,"wires":[["88f19557aa0b8b3e","5664623ecb9cb424"]]},{"id":"88f19557aa0b8b3e","type":"debug","z":"853e809978d5cadf","name":"ui control","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1260,"y":3300,"wires":[]},{"id":"5664623ecb9cb424","type":"switch","z":"853e809978d5cadf","name":"connection detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connect","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1300,"y":3240,"wires":[["746d290cfdf02480","47242e7ceda1cd95","1a2a59cdd77f6177"]]},{"id":"6cc832b06442b5a0","type":"comment","z":"853e809978d5cadf","name":"startup, reset","info":"","x":1110,"y":3180,"wires":[]},{"id":"40287fc7370306e5","type":"inject","z":"853e809978d5cadf","name":"startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1180,"y":3380,"wires":[["746d290cfdf02480"]]},{"id":"746d290cfdf02480","type":"change","z":"853e809978d5cadf","name":"reset","rules":[{"t":"delete","p":"custom1","pt":"flow"},{"t":"delete","p":"custom2","pt":"flow"},{"t":"delete","p":"custom3","pt":"flow"},{"t":"delete","p":"custom4","pt":"flow"},{"t":"delete","p":"custom5","pt":"flow"},{"t":"delete","p":"light","pt":"flow"},{"t":"delete","p":"nutrients","pt":"flow"},{"t":"delete","p":"light_progress","pt":"flow"},{"t":"delete","p":"text3","pt":"flow"},{"t":"delete","p":"text2","pt":"flow"},{"t":"delete","p":"text1","pt":"flow"},{"t":"delete","p":"label3","pt":"flow"},{"t":"delete","p":"label2","pt":"flow"},{"t":"delete","p":"label1","pt":"flow"},{"t":"delete","p":"light_progress","pt":"flow"},{"t":"delete","p":"lighttime","pt":"flow"},{"t":"delete","p":"optimal","pt":"global"},{"t":"delete","p":"waterLevel","pt":"global"},{"t":"delete","p":"id","pt":"global"},{"t":"delete","p":"pass","pt":"global"},{"t":"set","p":"lightcompleted","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":3380,"wires":[["273ea251a4533f3c","f0245cc118ddf01d","262cb6299c80be04"]]},{"id":"082f54c71b4c3dd0","type":"ui_ui_control","z":"853e809978d5cadf","name":"","events":"all","x":1720,"y":3240,"wires":[[]]},{"id":"47242e7ceda1cd95","type":"change","z":"853e809978d5cadf","name":"login page","rules":[{"t":"set","p":"payload","pt":"msg","to":"login","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":3240,"wires":[["082f54c71b4c3dd0"]]},{"id":"1a2a59cdd77f6177","type":"function","z":"853e809978d5cadf","d":true,"name":"disable tabs","func":"msg.payload={\"tabs\":{\"disable\":[\"Home\",\"Assistant\",\"Notifications\",\"Custom\",\"Help\",\"Settings\"]}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1470,"y":3340,"wires":[["90b383d3d67d297c"]]},{"id":"90b383d3d67d297c","type":"ui_ui_control","z":"853e809978d5cadf","name":"show login","x":1650,"y":3340,"wires":[[]]},{"id":"2518afc72ed44aca","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"mic","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":2900,"wires":[[]]},{"id":"ce901c48d557ee78","type":"debug","z":"853e809978d5cadf","name":"mute","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":2960,"wires":[]},{"id":"cc5a9c5beadd5170","type":"debug","z":"853e809978d5cadf","name":"mute1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":2960,"wires":[]},{"id":"902ad4053c6c1350","type":"function","z":"853e809978d5cadf","name":"","func":"if(msg.payload==1){\n    msg.payload =\"true\";\n}\nelse if(msg.payload ==0){\n    msg.payload=\"false\";\n}\nelse {msg.payload = \"fail\";}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":2900,"wires":[["2518afc72ed44aca","cc5a9c5beadd5170"]]},{"id":"2857f8abbc41d16b","type":"e-mail","z":"853e809978d5cadf","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":690,"y":3280,"wires":[]},{"id":"b5a970fe83d44a28","type":"function","z":"853e809978d5cadf","name":"acknowledgement","func":"msg.to = msg.payload.email;\nmsg.topic = \"Query: \" + msg.payload.topic;\nmsg.payload = \"Dear \" + msg.payload.name + ',' + '\\n' + '\\n' + \"Thank you for reaching out to us, we will contact you within 5 working days.\" +'\\n'  +'\\n'+ \"Regards,\" + '\\n' +\"Homegrow\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":3280,"wires":[["2857f8abbc41d16b"]]},{"id":"b4ad9f6446eb52c8","type":"ui_form","z":"853e809978d5cadf","name":"","label":"","group":"92725c0b8fc95b70","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email ","value":"email","type":"email","required":true,"rows":null},{"label":"Topic","value":"topic","type":"text","required":true,"rows":null},{"label":"Query","value":"query","type":"multiline","required":true,"rows":3}],"formValue":{"name":"","email":"","topic":"","query":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":250,"y":3280,"wires":[["e6a2c964986e4292","b5a970fe83d44a28","9e8a206f724d3ff1"]]},{"id":"e6a2c964986e4292","type":"debug","z":"853e809978d5cadf","name":"form","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":3380,"wires":[]},{"id":"9e8a206f724d3ff1","type":"function","z":"853e809978d5cadf","name":"query","func":"var id = global.get(\"id\");\nmsg.to = \"hydroponicshomegrow@gmail.com\";\nmsg.topic = msg.payload.topic;\nmsg.payload = \"From: \" + id + '\\n' + '\\n' + msg.payload.query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":3320,"wires":[["2857f8abbc41d16b"]]},{"id":"c9127579d9cf8c70","type":"link in","z":"853e809978d5cadf","name":"data out","links":["e8b7b4770d649c59"],"x":405,"y":860,"wires":[["cf80cee676603ae2"]]},{"id":"cf80cee676603ae2","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lightcompletion","tot":"msg"},{"t":"set","p":"time","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":860,"wires":[["8ccc992eb2261a13"]]},{"id":"27474920690c0a76","type":"link in","z":"853e809978d5cadf","name":"data out","links":["e8b7b4770d649c59"],"x":505,"y":700,"wires":[["005febb1ed44be68"]]},{"id":"005febb1ed44be68","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dissolvedSolids","tot":"msg"},{"t":"set","p":"time","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":700,"wires":[["6d07e1800d4e56a9","aac52e917f301d6c","4b949ea739446bdc"]]},{"id":"b5bfafbc9e62dfbd","type":"link in","z":"853e809978d5cadf","name":"data out","links":["e8b7b4770d649c59"],"x":525,"y":500,"wires":[["de25c593f9911a6b"]]},{"id":"de25c593f9911a6b","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lightIntensity","tot":"msg"},{"t":"set","p":"time","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[["5b2df7ef3e12945d","c33c219358b06e40","4d9b778ee595fb92"]]},{"id":"649ab950d38f0f7f","type":"link in","z":"853e809978d5cadf","name":"data out","links":["e8b7b4770d649c59"],"x":515,"y":260,"wires":[["18defcb515ac8a02"]]},{"id":"18defcb515ac8a02","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.waterLevel","tot":"msg"},{"t":"set","p":"time","pt":"msg","to":"payload.timestamp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":260,"wires":[["94bb229a93e817d4","3b50408fb8dab130"]]},{"id":"6cd44de8d15a2051","type":"link in","z":"853e809978d5cadf","name":"data out","links":["e8b7b4770d649c59"],"x":475,"y":1120,"wires":[["6c20a10de4266d56"]]},{"id":"6c20a10de4266d56","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"pumpOn","tot":"msg"},{"t":"set","p":"time","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1120,"wires":[["85a29e824cf1a2e7"]]},{"id":"09c4abdbd379f9b0","type":"link in","z":"853e809978d5cadf","name":"data out","links":["e8b7b4770d649c59"],"x":475,"y":1220,"wires":[["2dd478a2f199062c"]]},{"id":"2dd478a2f199062c","type":"change","z":"853e809978d5cadf","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lightsOn","tot":"msg"},{"t":"set","p":"time","pt":"msg","to":"payload.timestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1220,"wires":[["1c642fef6544f925"]]},{"id":"f0498a5735ca3221","type":"comment","z":"853e809978d5cadf","name":"adjust this for database","info":"","x":960,"y":1240,"wires":[]},{"id":"6eb846598854132b","type":"comment","z":"853e809978d5cadf","name":"Correct this","info":"","x":590,"y":900,"wires":[]},{"id":"1dc4c9a99c18cb76","type":"debug","z":"853e809978d5cadf","name":"time check","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"time","targetType":"msg","statusVal":"","statusType":"auto","x":1470,"y":400,"wires":[]},{"id":"7b4a45ad4161473f","type":"trigger","z":"853e809978d5cadf","name":"wait for resolution","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1790,"y":140,"wires":[["7e0e47140831a7eb"]]},{"id":"f46435c18512f466","type":"trigger","z":"853e809978d5cadf","name":"wait for resolution","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1630,"y":500,"wires":[["c88ab98a73bdd6ad"]]},{"id":"58a2c88abdb7d18f","type":"trigger","z":"853e809978d5cadf","name":"wait for resolution","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1650,"y":680,"wires":[["fadf94fb6cc51502"]]},{"id":"5542dd253a1fc5e9","type":"trigger","z":"853e809978d5cadf","name":"wait for resolution","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1750,"y":960,"wires":[["0895e699072c1b9f"]]},{"id":"db8053faf0281077","type":"comment","z":"853e809978d5cadf","name":"Help page","info":"","x":240,"y":3200,"wires":[]},{"id":"273ea251a4533f3c","type":"link out","z":"853e809978d5cadf","name":"reset plant type1","mode":"link","links":["b8cbb51fe971bbc7"],"x":1535,"y":3380,"wires":[]},{"id":"b8cbb51fe971bbc7","type":"link in","z":"853e809978d5cadf","name":"reset plant type 2","links":["273ea251a4533f3c"],"x":115,"y":1260,"wires":[["5053888c81f982b7","3c2c158750a3d090"]]},{"id":"ad2d371f9a8e7b66","type":"change","z":"853e809978d5cadf","name":"global.lightcompleted","rules":[{"t":"set","p":"payload","pt":"msg","to":"lightcompleted","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":980,"wires":[["2d19ae5b32474d72"]]},{"id":"105e9f75ee3df6ba","type":"change","z":"853e809978d5cadf","name":"reset lightcompleted","rules":[{"t":"set","p":"lightcompleted","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1080,"wires":[[]]},{"id":"f0245cc118ddf01d","type":"link out","z":"853e809978d5cadf","name":"reset pass check1","mode":"link","links":["399232ecd408d9f6"],"x":1535,"y":3460,"wires":[]},{"id":"bc47efce366a4378","type":"inject","z":"853e809978d5cadf","name":"demonstration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1190,"y":80,"wires":[["94bb229a93e817d4"]]},{"id":"4f8346881b2b5e4b","type":"inject","z":"853e809978d5cadf","name":"demonstration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1310,"y":360,"wires":[["fe9a9a440d1d4221"]]},{"id":"9bc41b4e4bb280d7","type":"inject","z":"853e809978d5cadf","name":"demonstration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1270,"y":900,"wires":[["3e735b8bfb745fd5","d9904946186406ca"]]},{"id":"e80af7e24be9d6c1","type":"inject","z":"853e809978d5cadf","name":"demonstration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1250,"y":1060,"wires":[["cb210fecf9efd0bd","105e9f75ee3df6ba"]]},{"id":"ff99c15a2fb633d5","type":"inject","z":"853e809978d5cadf","name":"demonstration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1190,"y":740,"wires":[["2478a2d3df1cec3e"]]},{"id":"faded3cc519805cd","type":"inject","z":"853e809978d5cadf","name":"demonstration","props":[{"p":"time","v":"","vt":"date"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"insufficient nutrients","payloadType":"str","x":1070,"y":540,"wires":[["864b106f1bc727b0"]]},{"id":"864b106f1bc727b0","type":"function","z":"853e809978d5cadf","name":"demonstration","func":"msg.topic = \"insufficient nutrients\";\n\nmsg.time = Date(msg.time);\nmsg.time = msg.time.substring(0,24);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":580,"wires":[["715c4e58d5a3e323","4a149407ea1b84cd"]]},{"id":"4a149407ea1b84cd","type":"debug","z":"853e809978d5cadf","name":"demonstration","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1380,"y":600,"wires":[]},{"id":"a278314e55d3a2b6","type":"debug","z":"853e809978d5cadf","name":"before selection","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":1300,"wires":[]},{"id":"262cb6299c80be04","type":"debug","z":"853e809978d5cadf","name":"after reset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1440,"y":3600,"wires":[]},{"id":"52617c52befb3861","type":"debug","z":"853e809978d5cadf","name":"after function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":1920,"wires":[]},{"id":"06f407a758fb16d3","type":"debug","z":"853e809978d5cadf","name":"after forms","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1800,"wires":[]},{"id":"3e98b63693cf8d13","type":"debug","z":"853e809978d5cadf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":1460,"wires":[]},{"id":"4d19c7e62c459c0f","type":"debug","z":"853e809978d5cadf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":1320,"wires":[]},{"id":"4da3dac18a632783","type":"inject","z":"853e809978d5cadf","name":"enable tabs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":2840,"wires":[["0a22c17d3d876a82"]]},{"id":"0a22c17d3d876a82","type":"function","z":"853e809978d5cadf","name":"","func":"msg.payload={\"tabs\":{\"enable\":[\"Home\",\"Assistant\",\"Notifications\",\"Custom\",\"Help\",\"Settings\"]}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":2780,"wires":[["2de2e22afb337b04"]]},{"id":"2de2e22afb337b04","type":"ui_ui_control","z":"853e809978d5cadf","name":"show homepage","x":620,"y":2800,"wires":[[]]},{"id":"ba649accfaa0b63b","type":"comment","z":"853e809978d5cadf","name":"depreciated login","info":"","x":260,"y":2720,"wires":[]},{"id":"d589fdd561cb4b4d","type":"watson-speech-to-text","z":"0ac681198b7d2c5a","name":"Speech-to-Text","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"hEWEO8k-mdnLKIEOyaXMGQ6dwvyPGMsgGNLObVtNMJF3","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/de9c285d-f31b-424d-ae95-c59a33826308","x":400,"y":300,"wires":[["b5102de1afaeb4cd","7f3a02dc710b1bc9","09e7b304c881d4f1"]]},{"id":"b5102de1afaeb4cd","type":"debug","z":"0ac681198b7d2c5a","name":"stt output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":240,"wires":[]},{"id":"7f3a02dc710b1bc9","type":"change","z":"0ac681198b7d2c5a","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":380,"wires":[["4915815990a33979","e6c7598ac3525a39"]]},{"id":"5fc6714c7b831749","type":"function","z":"0ac681198b7d2c5a","name":"","func":"if( typeof msg.payload.output.intents != 'undefined' && msg.payload.output.intents[0].confidence > 0.3) {\n    if( msg.payload.output.intents.length > 0 ) {\n        if( typeof msg.payload.output.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, I did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":640,"wires":[["fce2dbf999a15bbb"],["6d01cd9e752885ea"]]},{"id":"fce2dbf999a15bbb","type":"switch","z":"0ac681198b7d2c5a","name":"Intents","property":"payload.output.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"moisture","vt":"str"},{"t":"eq","v":"nutrient","vt":"str"},{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"greetings","vt":"str"},{"t":"eq","v":"condition","vt":"str"},{"t":"eq","v":"endings","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":610,"y":380,"wires":[["b2927d3a717908a3"],["2f80903772be85c5"],["f095a7e971921f00"],["de5af74af9b34a35"],["2d1cb63b86660b76"],["d588101794abe2bd"]]},{"id":"376130c4b91cc6a9","type":"switch","z":"0ac681198b7d2c5a","name":"water","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":260,"wires":[["26c74214a4075059"],["5f6e466f9ac8bae8"]]},{"id":"6d01cd9e752885ea","type":"watson-text-to-speech","z":"0ac681198b7d2c5a","name":"Text-to-Speech","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"dA9UaKlkYDmVUpRSYZolhBkQ2Gp1qjxs1t-v3AW7Nq6d","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/d54cc8dc-991c-472a-b84f-3a1530d14fb3","x":2000,"y":560,"wires":[["581080dba8be9986","76c3c8fdd123e67b","b1c093878731a122"]]},{"id":"2cfc3f3543f20c69","type":"ui_audio","z":"0ac681198b7d2c5a","name":"output","group":"e725f3bedb1a7f6a","voice":"Google UK English Female","always":"","x":2510,"y":560,"wires":[]},{"id":"e4f6073d41a8a656","type":"switch","z":"0ac681198b7d2c5a","name":"nutrients","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"ref","vt":"msg"},{"t":"lt","v":"ref","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":360,"wires":[["a6fea14344c8febd"],["7411ccd3f3977b80"]]},{"id":"6cbdcd70d083658b","type":"switch","z":"0ac681198b7d2c5a","name":"light","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"ref","vt":"msg"},{"t":"lt","v":"ref","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":460,"wires":[["3829611dfb318507"],["a30239d8367c8747"]]},{"id":"b2927d3a717908a3","type":"change","z":"0ac681198b7d2c5a","name":"Water","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.waterLevel","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":260,"wires":[["376130c4b91cc6a9"]]},{"id":"2f80903772be85c5","type":"change","z":"0ac681198b7d2c5a","name":"Nutrients","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dissolvedSolids","tot":"flow"},{"t":"set","p":"ref","pt":"msg","to":"optimal.nutrients","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":360,"wires":[["e4f6073d41a8a656"]]},{"id":"f095a7e971921f00","type":"change","z":"0ac681198b7d2c5a","name":"Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lightIntensity","tot":"flow"},{"t":"set","p":"ref","pt":"msg","to":"optimal.light","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":460,"wires":[["6cbdcd70d083658b"]]},{"id":"de5af74af9b34a35","type":"change","z":"0ac681198b7d2c5a","name":"Greetings","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hello, I am doing great! What would you like to know today?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":520,"wires":[["6d01cd9e752885ea","2227fb971d53fdc5","5e687cbd8c1e8eb8"]]},{"id":"4915815990a33979","type":"watson-assistant-v2","z":"0ac681198b7d2c5a","name":"WA V2","service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d76bc2a1-40a4-4958-9196-a7e4fd541f2c","assistant_id":"cb68e4ff-7ad1-44d6-a1bf-4608919ed683","debug":false,"restart":false,"return_context":true,"alternate_intents":true,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":190,"y":640,"wires":[["5fc6714c7b831749","28b8af4541ee29b3"]]},{"id":"28b8af4541ee29b3","type":"debug","z":"0ac681198b7d2c5a","name":"intent from WA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.output.intents[0].intent","targetType":"msg","statusVal":"","statusType":"auto","x":240,"y":720,"wires":[]},{"id":"2d1cb63b86660b76","type":"change","z":"0ac681198b7d2c5a","name":"Condition","rules":[{"t":"set","p":"payload","pt":"msg","to":"The condition of the plant is alright.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":680,"wires":[["7310108b878addb8","58465cb1edd62abc","046916ce7f786488"]]},{"id":"26c74214a4075059","type":"change","z":"0ac681198b7d2c5a","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting sufficient water.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":240,"wires":[["6d01cd9e752885ea","2227fb971d53fdc5"]]},{"id":"5f6e466f9ac8bae8","type":"change","z":"0ac681198b7d2c5a","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting insufficient water.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":280,"wires":[["6d01cd9e752885ea","2227fb971d53fdc5"]]},{"id":"a6fea14344c8febd","type":"change","z":"0ac681198b7d2c5a","name":">=","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting sufficient nutrients.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":340,"wires":[["6d01cd9e752885ea","2227fb971d53fdc5"]]},{"id":"7411ccd3f3977b80","type":"change","z":"0ac681198b7d2c5a","name":"<","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting insufficient nutrients.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":380,"wires":[["6d01cd9e752885ea","2227fb971d53fdc5"]]},{"id":"3829611dfb318507","type":"change","z":"0ac681198b7d2c5a","name":">=","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting sufficient light.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":440,"wires":[["6d01cd9e752885ea","2227fb971d53fdc5"]]},{"id":"a30239d8367c8747","type":"change","z":"0ac681198b7d2c5a","name":"<","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting insufficient light.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":480,"wires":[["6d01cd9e752885ea","2227fb971d53fdc5"]]},{"id":"25bae6d4c5b84c4e","type":"join","z":"0ac681198b7d2c5a","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1770,"y":800,"wires":[["6d01cd9e752885ea","0846c8aa6105a855","2227fb971d53fdc5"]]},{"id":"7310108b878addb8","type":"change","z":"0ac681198b7d2c5a","name":"Water","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.waterLevel","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":740,"wires":[["014ebf82b0afd0ee"]]},{"id":"014ebf82b0afd0ee","type":"switch","z":"0ac681198b7d2c5a","name":"water","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":740,"wires":[["ca664c3d9066f24b"],["f28e097764490075"]]},{"id":"58465cb1edd62abc","type":"change","z":"0ac681198b7d2c5a","name":"Nutrients","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dissolvedSolids","tot":"flow"},{"t":"set","p":"ref","pt":"msg","to":"optimal.nutrients","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1059.75,"y":795.75,"wires":[["aabf87e66e539907"]]},{"id":"aabf87e66e539907","type":"switch","z":"0ac681198b7d2c5a","name":"nutrients","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"ref","vt":"msg"},{"t":"lt","v":"ref","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":1240,"y":800,"wires":[["9cfab6aa661cbb90"],["f562e048c8ba7073"]]},{"id":"046916ce7f786488","type":"change","z":"0ac681198b7d2c5a","name":"Light","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lightIntensity","tot":"num"},{"t":"set","p":"ref","pt":"msg","to":"optimal.light","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":860,"wires":[["52ef090c1bf2674a"]]},{"id":"52ef090c1bf2674a","type":"switch","z":"0ac681198b7d2c5a","name":"light","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"ref","vt":"msg"},{"t":"lt","v":"ref","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":860,"wires":[["450e8fa28358effd"],["9e3d94c242be079b"]]},{"id":"ca664c3d9066f24b","type":"change","z":"0ac681198b7d2c5a","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting sufficient water.","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":700,"wires":[["99ed843e1b80831f"]]},{"id":"f28e097764490075","type":"change","z":"0ac681198b7d2c5a","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting insufficient water.","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":740,"wires":[["99ed843e1b80831f"]]},{"id":"9cfab6aa661cbb90","type":"change","z":"0ac681198b7d2c5a","name":">","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting sufficient nutrients.","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":780,"wires":[["417848df94260652"]]},{"id":"f562e048c8ba7073","type":"change","z":"0ac681198b7d2c5a","name":"<","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting insufficient nutrients.","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":820,"wires":[["417848df94260652"]]},{"id":"450e8fa28358effd","type":"change","z":"0ac681198b7d2c5a","name":">","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting sufficient light.","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":860,"wires":[["d028a661c009e14e"]]},{"id":"9e3d94c242be079b","type":"change","z":"0ac681198b7d2c5a","name":"<","rules":[{"t":"set","p":"payload","pt":"msg","to":"The plants are getting insufficient light.","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":900,"wires":[["d028a661c009e14e"]]},{"id":"99ed843e1b80831f","type":"function","z":"0ac681198b7d2c5a","name":"","func":"if (msg.payload != 'undefined'){\n  msg.topic = \"0\";\n  return msg;  \n}\nmsg.payload = \"\";\nmsg.topic = \"0\"\nreturn msg;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":720,"wires":[["25bae6d4c5b84c4e"],["25bae6d4c5b84c4e"]]},{"id":"417848df94260652","type":"function","z":"0ac681198b7d2c5a","name":"","func":"if (msg.parts != 'undefined'){\n  msg.topic = \"1\";\n  return msg;  \n}\nmsg.payload = \"\";\nmsg.topic = \"1\"\nreturn msg;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":800,"wires":[["25bae6d4c5b84c4e"],["25bae6d4c5b84c4e"]]},{"id":"d028a661c009e14e","type":"function","z":"0ac681198b7d2c5a","name":"","func":"if (msg.parts != 'undefined'){\n  msg.topic = \"2\";\n  return msg;  \n}\nmsg.payload = \"\";\nmsg.topic = \"2\"\nreturn msg;\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":880,"wires":[["25bae6d4c5b84c4e"],["25bae6d4c5b84c4e"]]},{"id":"0846c8aa6105a855","type":"debug","z":"0ac681198b7d2c5a","name":"join output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1970,"y":800,"wires":[]},{"id":"d588101794abe2bd","type":"change","z":"0ac681198b7d2c5a","name":"Endings","rules":[{"t":"set","p":"payload","pt":"msg","to":"You're welcome!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":580,"wires":[["6d01cd9e752885ea","2227fb971d53fdc5"]]},{"id":"657b8bd43a80f5f7","type":"comment","z":"0ac681198b7d2c5a","name":"get sensor values from database","info":"","x":850,"y":220,"wires":[]},{"id":"4914d55ea7884763","type":"comment","z":"0ac681198b7d2c5a","name":"get sensor values from database","info":"","x":1110,"y":700,"wires":[]},{"id":"e6517158a83d2062","type":"link in","z":"0ac681198b7d2c5a","name":"chat in2","links":["01ffc80443123bd3"],"x":85,"y":580,"wires":[["4915815990a33979"]]},{"id":"499f2c130fc6d417","type":"link in","z":"0ac681198b7d2c5a","name":"mic in2","links":["f3401b46534d7970"],"x":215,"y":300,"wires":[["d589fdd561cb4b4d"]]},{"id":"2227fb971d53fdc5","type":"link out","z":"0ac681198b7d2c5a","name":"assistout","mode":"link","links":["f5183fd2ed089369"],"x":1975,"y":740,"wires":[]},{"id":"09e7b304c881d4f1","type":"link out","z":"0ac681198b7d2c5a","name":"mic2text 2","mode":"link","links":["0be8cf79579ee3d9"],"x":545,"y":300,"wires":[]},{"id":"5e687cbd8c1e8eb8","type":"debug","z":"0ac681198b7d2c5a","name":"greeting","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":560,"wires":[]},{"id":"e6c7598ac3525a39","type":"debug","z":"0ac681198b7d2c5a","name":"transcript in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":230,"y":480,"wires":[]},{"id":"b1c093878731a122","type":"switch","z":"0ac681198b7d2c5a","name":"","property":"mic","propertyType":"global","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2350,"y":560,"wires":[["2cfc3f3543f20c69","abb778a597125125"]]},{"id":"abb778a597125125","type":"debug","z":"0ac681198b7d2c5a","name":"switch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2490,"y":480,"wires":[]},{"id":"581080dba8be9986","type":"debug","z":"0ac681198b7d2c5a","name":"tts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2150,"y":460,"wires":[]},{"id":"76c3c8fdd123e67b","type":"change","z":"0ac681198b7d2c5a","d":true,"name":"","rules":[{"t":"set","p":"mic","pt":"msg","to":"mic","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2190,"y":640,"wires":[["b1c093878731a122","11199a791f116c03"]]},{"id":"11199a791f116c03","type":"debug","z":"0ac681198b7d2c5a","name":"test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2390,"y":620,"wires":[]},{"id":"7e76519e5ffb4fef","type":"link in","z":"0ac681198b7d2c5a","name":"data out","links":["e8b7b4770d649c59"],"x":785,"y":100,"wires":[["c21a672e5264ab4a"]]},{"id":"c21a672e5264ab4a","type":"change","z":"0ac681198b7d2c5a","name":"data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":100,"wires":[[]]},{"id":"c9ed230dd796dd07","type":"comment","z":"0ac681198b7d2c5a","name":"just do global for optimal?","info":"","x":1110,"y":140,"wires":[]},{"id":"680fb5722be4846b","type":"comment","z":"0ac681198b7d2c5a","name":"global.optimal.light, global.optimal.nutrients, global.waterlevel","info":"","x":580,"y":140,"wires":[]},{"id":"d67efe3f6ca07f0e","type":"function","z":"0ac681198b7d2c5a","name":"example msg","func":"msg.payload =[{\"timestamp\":1656164079739362063,\"dissolvedSolids\":null,\"lightIntensity\":3,\"waterLevel\":null,\"lightsOn\":null,\"pumpOn\":null},{\"timestamp\":1656163118247244170,\"dissolvedSolids\":null,\"lightIntensity\":60,\"waterLevel\":null,\"lightsOn\":null,\"pumpOn\":null,\"lightcompletion\":50}]\nreturn msg;\n\n//msg.payload[0].timestamp","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":40,"wires":[[]]},{"id":"8c587f7afee25f29","type":"http request","z":"f566569567242907","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://1r.re/system/{{req.params.systemid}}/{{req.params.request}}","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":530,"y":300,"wires":[["4b296d47ef54ca62","fcad7fdadfad7f85","f49195256e0d6f0f"]]},{"id":"4c51d7bd0efea5a9","type":"http in","z":"f566569567242907","name":"","url":"/system/:systemid/:request","method":"get","upload":false,"swaggerDoc":"","x":270,"y":300,"wires":[["8c587f7afee25f29","8eb8e0260cf4b444"]]},{"id":"4b296d47ef54ca62","type":"http response","z":"f566569567242907","name":"","statusCode":"","headers":{},"x":750,"y":300,"wires":[]},{"id":"8eb8e0260cf4b444","type":"debug","z":"f566569567242907","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":380,"wires":[]},{"id":"fcad7fdadfad7f85","type":"json","z":"f566569567242907","name":"","property":"payload","action":"","pretty":false,"x":730,"y":360,"wires":[["4f1e020febafc71b","68e67332dd8d278b","2615f3b98488b511","6697c5580a216921"]]},{"id":"4f1e020febafc71b","type":"debug","z":"f566569567242907","name":"after json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":360,"wires":[]},{"id":"f49195256e0d6f0f","type":"debug","z":"f566569567242907","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":420,"wires":[]},{"id":"68e67332dd8d278b","type":"change","z":"f566569567242907","d":true,"name":"single msg set global","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"timestamp","tot":"global"},{"t":"set","p":"payload.dissolvedSolids","pt":"msg","to":"dissolvedSolids","tot":"global"},{"t":"set","p":"payload.lightIntensity","pt":"msg","to":"lightIntensity","tot":"global"},{"t":"set","p":"payload.waterLevel","pt":"msg","to":"waterLevel","tot":"global"},{"t":"set","p":"payload.lightsOn","pt":"msg","to":"lightsOn","tot":"global"},{"t":"set","p":"payload.pumpOn","pt":"msg","to":"pumpOn","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":300,"wires":[[]]},{"id":"794d0dec29567631","type":"split","z":"f566569567242907","d":true,"name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":500,"wires":[[]]},{"id":"a43b08f2cb37aaf2","type":"function","z":"f566569567242907","name":"example msg","func":"msg.payload =[{\"timestamp\":1656164079739362063,\"dissolvedSolids\":null,\"lightIntensity\":3,\"waterLevel\":null,\"lightsOn\":null,\"pumpOn\":null},{\"timestamp\":1656163118247244170,\"dissolvedSolids\":null,\"lightIntensity\":60,\"waterLevel\":null,\"lightsOn\":null,\"pumpOn\":null,\"lightcompletion\":50}]\nreturn msg;\n\n//msg.payload[0].timestamp","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":620,"wires":[["7b3e89fef36edaee","59574840a5010928","de34c50482571ae0"]]},{"id":"e95d7fd8782d767f","type":"inject","z":"f566569567242907","name":"demonstration","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":640,"wires":[["a43b08f2cb37aaf2"]]},{"id":"7b3e89fef36edaee","type":"debug","z":"f566569567242907","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":620,"wires":[]},{"id":"337e083ccbf2316d","type":"debug","z":"f566569567242907","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":680,"wires":[]},{"id":"59574840a5010928","type":"function","z":"f566569567242907","name":"","func":"//try to check for nulls?\nmsg.payload = msg.payload[0].lightIntensity;\n//msg.payload = msg.payload[0].timestamp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":680,"wires":[["337e083ccbf2316d"]]},{"id":"de34c50482571ae0","type":"change","z":"f566569567242907","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg","dc":true},{"t":"set","p":"notif","pt":"msg","to":"pending","tot":"str"},{"t":"set","p":"waterLevel","pt":"global","to":"payload.waterLevel","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":540,"wires":[["e8b7b4770d649c59","c4118fc44f91bbe3","f832ef46f5641e73"]]},{"id":"e8b7b4770d649c59","type":"link out","z":"f566569567242907","name":"data in","mode":"link","links":["09c4abdbd379f9b0","27474920690c0a76","649ab950d38f0f7f","6cd44de8d15a2051","7e76519e5ffb4fef","b5bfafbc9e62dfbd","c9127579d9cf8c70"],"x":1105,"y":540,"wires":[]},{"id":"b8d9ceb15a1fc5c6","type":"change","z":"f566569567242907","d":true,"name":"settings from database -> global + replace text","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":260,"wires":[[]]},{"id":"9a01a9c0124742bf","type":"trigger","z":"f566569567242907","name":"30 mins without new data","op1":"","op2":"disconnected","op1type":"nul","op2type":"str","duration":"20","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1030,"y":640,"wires":[["e958746eba9cd7ec","76bdf6f7539e51f6","6ca07ae8e54f297d","b07631e473108b7d"]]},{"id":"e958746eba9cd7ec","type":"ui_toast","z":"f566569567242907","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1520,"y":640,"wires":[]},{"id":"76bdf6f7539e51f6","type":"ui_text","z":"f566569567242907","group":"ae50fa37204d0b19","order":2,"width":0,"height":0,"name":"","label":"Farm status:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1530,"y":580,"wires":[]},{"id":"4258180ebd1c1527","type":"change","z":"f566569567242907","name":"connected","rules":[{"t":"set","p":"payload","pt":"msg","to":"connected","tot":"str"},{"t":"set","p":"notif","pt":"msg","to":"resolved","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":580,"wires":[["76bdf6f7539e51f6","e958746eba9cd7ec","b07631e473108b7d"]]},{"id":"6ca07ae8e54f297d","type":"ui_text","z":"f566569567242907","group":"1c4b3d89a27b0923","order":10,"width":6,"height":1,"name":"timestamp","label":"","format":"{{msg.time}}","layout":"row-spread","className":"","x":1510,"y":700,"wires":[]},{"id":"b07631e473108b7d","type":"ui_text","z":"f566569567242907","group":"1c4b3d89a27b0923","order":11,"width":0,"height":0,"name":"notif","label":"Disconnected","format":"{{msg.notif}}","layout":"row-spread","className":"crimson","x":1490,"y":740,"wires":[]},{"id":"c4118fc44f91bbe3","type":"function","z":"f566569567242907","name":"timestamp format","func":"msg.time = Date(msg.time)\nmsg.time = msg.time.substring(0,24)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":580,"wires":[["9a01a9c0124742bf","4258180ebd1c1527"]]},{"id":"ecab759a6946aafd","type":"comment","z":"f566569567242907","name":"this means disconnected","info":"","x":1050,"y":700,"wires":[]},{"id":"8c88d6376fbb20b7","type":"trigger","z":"f566569567242907","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":640,"y":880,"wires":[["d3e5de68ce23f796"]]},{"id":"a68287a855ec8215","type":"inject","z":"f566569567242907","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":330,"y":840,"wires":[["8c88d6376fbb20b7"]]},{"id":"076a078e02e01914","type":"inject","z":"f566569567242907","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"reset","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":330,"y":900,"wires":[["8c88d6376fbb20b7"]]},{"id":"d3e5de68ce23f796","type":"debug","z":"f566569567242907","name":"trigger test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":880,"wires":[]},{"id":"2615f3b98488b511","type":"link out","z":"f566569567242907","name":"pass verified 1","mode":"link","links":["4f0781439e450fec"],"x":935,"y":220,"wires":[]},{"id":"aac7515a2f4f9c7a","type":"inject","z":"f566569567242907","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":200,"wires":[["fcad7fdadfad7f85"]]},{"id":"ad100fc57fc0ad60","type":"inject","z":"f566569567242907","name":"demonstration","props":[{"p":"time","v":"","vt":"date"},{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"disconnected","payloadType":"str","x":910,"y":800,"wires":[["a449e58a5dbf9740"]]},{"id":"a449e58a5dbf9740","type":"function","z":"f566569567242907","name":"timestamp format","func":"msg.time = Date(msg.time)\nmsg.time = msg.time.substring(0,24)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":800,"wires":[["0c55e0320f751cb6"]]},{"id":"0c55e0320f751cb6","type":"change","z":"f566569567242907","name":"","rules":[{"t":"set","p":"notif","pt":"msg","to":"pending","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":800,"wires":[["b07631e473108b7d","6ca07ae8e54f297d","e958746eba9cd7ec","76bdf6f7539e51f6"]]},{"id":"f832ef46f5641e73","type":"debug","z":"f566569567242907","name":"after rules","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":440,"wires":[]},{"id":"ecb832eaf5709e41","type":"change","z":"f566569567242907","name":"","rules":[{"t":"set","p":"payload[1].lightIntensity","pt":"msg","to":"payload[1].lightIntensity[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":480,"wires":[["de34c50482571ae0"]]},{"id":"6697c5580a216921","type":"change","z":"f566569567242907","name":"","rules":[{"t":"set","p":"payload[1].lightcompletion","pt":"msg","to":"payload[1].lightIntensity[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":420,"wires":[["ecb832eaf5709e41"]]},{"id":"8206c9ff20f5a110","type":"inject","z":"c97fb43abe55a014","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ok","payloadType":"str","x":530,"y":200,"wires":[["117e02134bccc693","e511fbf2d13b931b"]]},{"id":"57e988823a4bda2b","type":"inject","z":"c97fb43abe55a014","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"no","payloadType":"str","x":530,"y":260,"wires":[["117e02134bccc693","bf79c48cbce59413","d15331931199b168"]]},{"id":"f6fcf476494cd7d9","type":"ui_text","z":"c97fb43abe55a014","group":"ae50fa37204d0b19","order":1,"width":0,"height":0,"name":"farm id","label":"Farm ID:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":690,"y":420,"wires":[]},{"id":"4c948c27f947ba56","type":"ui_ui_control","z":"c97fb43abe55a014","name":"show homepage","x":1540,"y":240,"wires":[[]]},{"id":"9b5d1cf01f30bd54","type":"comment","z":"c97fb43abe55a014","name":"Login page","info":"","x":260,"y":420,"wires":[]},{"id":"8323d24fcbf43879","type":"ui_template","z":"c97fb43abe55a014","group":"f09a202c3d6dcc70","name":"","order":2,"width":6,"height":5,"format":"<hr size=\"2\" width=\"95%\" color=\"gray\">  \n<br>\n<div class=\"item\">\n   <label for=\"ID\">FarmID:&nbsp&nbsp&nbsp&#8201</label>\n   <input type=\"text\" id=\"myID\" name=\"ID\" ><br>\n</div><br>\n\n<div class=\"item\">\n   <label for=\"pwd\">Password:</label>\n   <input type=\"password\" id=\"myPass\" name=\"pwd\" >\n</div><br>\n\n<div class=\"item\">\n   <input type=\"checkbox\" id=\"show_pass\" name=\"show_pass\" onclick=\"myFunction()\">Show password<br><br>\n</div>\n\n<br>\n<div class=\"submit\">\n   <input type=\"submit\" onclick=\"SendMessage()\"><br><br>\n</div>\n\n<script>\n    var theScope = scope;\n    var x = document.getElementById(\"myPass\");\n    var y = document.getElementById(\"myID\");\n    var eventname = 'hi';\n    function SendMessage(){\n        theScope.send({payload:\"pass:\"+x.value});\n        theScope.send({payload:\"id:\"+y.value});\n    }\n    function myFunction() {\n    if (x.type === \"password\") {\n      x.type = \"text\";\n    } else {\n      x.type = \"password\";\n    }\n}\n</script>\n\n\n\n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":240,"y":580,"wires":[["80512c734af53101"]]},{"id":"3789d1a712dccf18","type":"function","z":"c97fb43abe55a014","name":"","func":"msg.payload=\"Home\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":240,"wires":[["4c948c27f947ba56","25978fbbd763ab89","d15331931199b168"]]},{"id":"80512c734af53101","type":"switch","z":"c97fb43abe55a014","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^id:","vt":"str","case":false},{"t":"regex","v":"^pass:","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":520,"wires":[["d230da9cf3da31bc"],["566078372d7fd1cc"]]},{"id":"d230da9cf3da31bc","type":"function","z":"c97fb43abe55a014","name":"","func":"msg.payload = msg.payload.substring(3);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":460,"wires":[["f6fcf476494cd7d9","ba05101ef391a84e"]]},{"id":"77495eb3e479e81c","type":"function","z":"c97fb43abe55a014","name":"","func":"msg.payload={\"tabs\":{\"enable\":[\"Home\",\"Assistant\",\"Notifications\",\"Custom\",\"Help\",\"Settings\"]}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":300,"wires":[["4c948c27f947ba56"]]},{"id":"8d60bebbb51599c3","type":"ui_text","z":"c97fb43abe55a014","group":"f09a202c3d6dcc70","order":1,"width":0,"height":0,"name":"","label":"Welcome to Homegrow","format":"{{msg.payload}}","layout":"row-center","className":"welcome","x":270,"y":480,"wires":[]},{"id":"566078372d7fd1cc","type":"change","z":"c97fb43abe55a014","name":"","rules":[{"t":"set","p":"pass","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[[]]},{"id":"ba05101ef391a84e","type":"change","z":"c97fb43abe55a014","name":"","rules":[{"t":"set","p":"id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":480,"wires":[["e4953c518ac2b06c","8d02da0ca01145f8"]]},{"id":"8d02da0ca01145f8","type":"trigger","z":"c97fb43abe55a014","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1040,"y":240,"wires":[["7f95d501fd1b8764"]]},{"id":"9b439dca5eb555b6","type":"debug","z":"c97fb43abe55a014","name":"request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1160,"y":380,"wires":[]},{"id":"e4953c518ac2b06c","type":"change","z":"c97fb43abe55a014","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"request","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":440,"wires":[["9b439dca5eb555b6"]]},{"id":"62168370acb8c742","type":"comment","z":"c97fb43abe55a014","name":"","info":"template sends pass then id","x":460,"y":380,"wires":[]},{"id":"117e02134bccc693","type":"change","z":"c97fb43abe55a014","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":220,"wires":[["8d02da0ca01145f8","7b205fe1e80dcfa8","92fa7d0b54ffc27b"]]},{"id":"bf79c48cbce59413","type":"ui_toast","z":"c97fb43abe55a014","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":760,"y":300,"wires":[]},{"id":"92fa7d0b54ffc27b","type":"switch","z":"c97fb43abe55a014","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":160,"wires":[["3f3f9132d3f17126","f8c949c7f51e5816"]]},{"id":"25978fbbd763ab89","type":"ui_toast","z":"c97fb43abe55a014","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1530,"y":180,"wires":[[]]},{"id":"e511fbf2d13b931b","type":"debug","z":"c97fb43abe55a014","name":"test1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":120,"wires":[]},{"id":"7b205fe1e80dcfa8","type":"debug","z":"c97fb43abe55a014","name":"test2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"6276cbb3aa1f4523","type":"debug","z":"c97fb43abe55a014","name":"test4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":100,"wires":[]},{"id":"3f3f9132d3f17126","type":"debug","z":"c97fb43abe55a014","name":"test3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":100,"wires":[]},{"id":"abf7747115174608","type":"delay","z":"c97fb43abe55a014","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":880,"y":660,"wires":[["c20e2ceca72911d1"]]},{"id":"382d02c79720d7d5","type":"inject","z":"c97fb43abe55a014","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":680,"wires":[["abf7747115174608"]]},{"id":"c20e2ceca72911d1","type":"debug","z":"c97fb43abe55a014","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":680,"wires":[]},{"id":"bc82eb1d00d66e60","type":"delay","z":"c97fb43abe55a014","name":"","pauseType":"delay","timeout":"0.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1230,"y":160,"wires":[["6276cbb3aa1f4523","8d02da0ca01145f8"]]},{"id":"f8c949c7f51e5816","type":"change","z":"c97fb43abe55a014","name":"","rules":[{"t":"delete","p":"reset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":160,"wires":[["bc82eb1d00d66e60"]]},{"id":"7f95d501fd1b8764","type":"switch","z":"c97fb43abe55a014","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ok","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1190,"y":240,"wires":[["77495eb3e479e81c","3789d1a712dccf18"]]},{"id":"d15331931199b168","type":"ui_text","z":"c97fb43abe55a014","group":"f09a202c3d6dcc70","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1550,"y":380,"wires":[]},{"id":"0913338acae71627","type":"inject","z":"c97fb43abe55a014","name":"datain","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":840,"wires":[[]]},{"id":"35e060bf8be1efcb","type":"inject","z":"c97fb43abe55a014","name":"enable tabs","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1290,"y":480,"wires":[["77495eb3e479e81c"]]},{"id":"1fcd139189932848","type":"ui_text","z":"fa164ae23c80c2ea","group":"ae50fa37204d0b19","order":1,"width":0,"height":0,"name":"farm id","label":"Farm ID:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":650,"y":440,"wires":[]},{"id":"0adda68efb2cad5e","type":"comment","z":"fa164ae23c80c2ea","name":"Login page","info":"","x":220,"y":440,"wires":[]},{"id":"5f8d5dc7a7416284","type":"ui_template","z":"fa164ae23c80c2ea","group":"f09a202c3d6dcc70","name":"","order":2,"width":6,"height":5,"format":"<hr size=\"2\" width=\"95%\" color=\"gray\">  \n<br>\n<div class=\"item\">\n   <label for=\"ID\">FarmID:&nbsp&nbsp&nbsp&#8201</label>\n   <input type=\"text\" id=\"myID\" name=\"ID\" ><br>\n</div><br>\n\n<div class=\"item\">\n   <label for=\"pwd\">Password:</label>\n   <input type=\"password\" id=\"myPass\" name=\"pwd\" >\n</div><br>\n\n<div class=\"item\">\n   <input type=\"checkbox\" id=\"show_pass\" name=\"show_pass\" onclick=\"myFunction()\">Show password<br><br>\n</div>\n\n<br>\n<div class=\"submit\">\n   <input type=\"submit\" onclick=\"SendMessage()\"><br><br>\n</div>\n\n<script>\n    var theScope = scope;\n    var x = document.getElementById(\"myPass\");\n    var y = document.getElementById(\"myID\");\n    var eventname = 'hi';\n    function SendMessage(){\n        theScope.send({payload:\"pass:\"+x.value});\n        theScope.send({payload:\"id:\"+y.value});\n    }\n    function myFunction() {\n    if (x.type === \"password\") {\n      x.type = \"text\";\n    } else {\n      x.type = \"password\";\n    }\n}\n</script>\n\n\n\n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":200,"y":600,"wires":[["0d3875aaca5b787a"]]},{"id":"0d3875aaca5b787a","type":"switch","z":"fa164ae23c80c2ea","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^id:","vt":"str","case":false},{"t":"regex","v":"^pass:","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":540,"wires":[["61d592d9ed64331a"],["2844b4ecb01889ae"]]},{"id":"61d592d9ed64331a","type":"function","z":"fa164ae23c80c2ea","name":"","func":"msg.payload = msg.payload.substring(3);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":480,"wires":[["1fcd139189932848","7a3f0c1edea650b6"]]},{"id":"38412e1c3ced2a45","type":"ui_text","z":"fa164ae23c80c2ea","group":"f09a202c3d6dcc70","order":1,"width":0,"height":0,"name":"","label":"Welcome to Homegrow","format":"{{msg.payload}}","layout":"row-center","className":"welcome","x":230,"y":500,"wires":[]},{"id":"2844b4ecb01889ae","type":"change","z":"fa164ae23c80c2ea","name":"","rules":[{"t":"set","p":"pass","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":560,"wires":[[]]},{"id":"7a3f0c1edea650b6","type":"change","z":"fa164ae23c80c2ea","name":"","rules":[{"t":"set","p":"id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":500,"wires":[["1469874da42f24aa"]]},{"id":"f230cc664d2db4fa","type":"debug","z":"fa164ae23c80c2ea","name":"request","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":500,"wires":[]},{"id":"1469874da42f24aa","type":"change","z":"fa164ae23c80c2ea","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"request","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":500,"wires":[["f230cc664d2db4fa"]]},{"id":"9eb53c4f587bc22e","type":"comment","z":"fa164ae23c80c2ea","name":"","info":"template sends pass then id","x":420,"y":400,"wires":[]},{"id":"150b4e5c86975cb9","type":"function","z":"fa164ae23c80c2ea","name":"","func":"msg.payload=\"Home\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":180,"wires":[["cb2e4408b3461039","6d96a3e9c858d4cb","03c6a8c34f0e65d4"]]},{"id":"bd53d4994cebec26","type":"function","z":"fa164ae23c80c2ea","name":"","func":"msg.payload={\"tabs\":{\"enable\":[\"Home\",\"Assistant\",\"Notifications\",\"Custom\",\"Help\",\"Settings\"]}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":240,"wires":[["cb2e4408b3461039"]]},{"id":"cb2e4408b3461039","type":"ui_ui_control","z":"fa164ae23c80c2ea","name":"show homepage","x":1120,"y":180,"wires":[[]]},{"id":"6d96a3e9c858d4cb","type":"ui_toast","z":"fa164ae23c80c2ea","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":1110,"y":120,"wires":[[]]},{"id":"03c6a8c34f0e65d4","type":"ui_text","z":"fa164ae23c80c2ea","group":"f09a202c3d6dcc70","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1110,"y":260,"wires":[]},{"id":"be94d7ffbc931109","type":"trigger","z":"fa164ae23c80c2ea","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":640,"y":180,"wires":[["150b4e5c86975cb9","bd53d4994cebec26"]]},{"id":"4f0781439e450fec","type":"link in","z":"fa164ae23c80c2ea","name":"pass verified 2","links":["2615f3b98488b511"],"x":365,"y":180,"wires":[["be94d7ffbc931109"]]},{"id":"399232ecd408d9f6","type":"link in","z":"fa164ae23c80c2ea","name":"reset pass check1","links":["f0245cc118ddf01d"],"x":365,"y":280,"wires":[["be94d7ffbc931109"]]},{"id":"828cf1cf44d104dd","type":"inject","z":"fa164ae23c80c2ea","name":"reset","props":[{"p":"reset","v":"1","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":430,"y":320,"wires":[["be94d7ffbc931109"]]},{"id":"b36ea11c2932fc0a","type":"comment","z":"fa164ae23c80c2ea","name":"delete this notif and text, its just for testing","info":"","x":980,"y":80,"wires":[]}]